[2021-04-02 13:36] Oliver-Loeffler commented on #344
Hi @tapaniantonrundgren !

I'm still playing around with that but have not had success yet in reproducing the issue.
Would be able to answer some of the following questions? This hopefully may help to get a trace of whats happening.

* Do you have multiple display adapters running (e.g. CPU graphics + external graphics adpter) etc.?
* Are there multiple screens?
* Do the multiple screens have same

[2021-04-02 13:57] Oliver-Loeffler commented on #342
Hi!

SceneBuilder creates a logfile. Can you please check if the logfile exists share the last lines with the stack trace (if there is one)?
Its either the JVM or something in SceneBuilder/JavaFX itself which prevents the start.
May be the logfile will help here.

Thanks!

[2021-04-02 14:42] Oliver-Loeffler commented on #342
Issue #344 is possibly related.

Could you please check the effective `java.library.path` on your system?

This works as follows on a Windows Command Line:
[code]

Output is (on my machine):
[code]

The problem in #344 is possibly related to selecting the wrong native library version.
It can happen, that the `java.library.path` contains more than one path, it can also be multiple JDK bin directori

[2021-04-02 17:34] #324 closed

[2021-04-02 23:03] brunogptavares opened #347 "Font letter it's broken on macOS"
As can be seen in the screenshots, the font letters appear broken, especially the letters 'p' and 'o'.

### Expected Behavior

The font letter should be readable.

### Current Behavior

The font letter appear to be broken.

### Steps to Reproduce

Just open SceneBuilder from launchpad on Mac.

### Your Environment

macOS BigSur 11.2.3
Mac mini (2018)
Monitor SyncMaster 20'' (1680x1050)

### Screen

[2021-04-05 14:15] belu opened #348 "Unable to build and run from master (Maven)"
With the latest master I am unable to build and start SceneBuilder. Last time I tried with Gradle, this worked out-of-the-box.

### Expected Behavior
All dependencies should be resolved and SceneBuilder should start.

### Current Behavior
The build fails with the following error:
`[ERROR] Failed to execute goal on project app: Could not resolve dependencies for project com.gluonhq.scenebuilder:app

[2021-04-05 15:02] belu commented on #326
@johanvos
You find that in the paragraph on **IDE Config and Code Style** linked above:
"Quarkus has a strictly enforced code style. Code formatting is done by the Eclipse code formatter, using the config files..."

As you switched to Maven recently, adding this should be much easier now.

The hard part is probably to agree on the code style to use. The Quarkus code style could be a good starting

[2021-04-05 21:15] Oliver-Loeffler commented on #348
Hi @belu!

I just tried that with a fresh Ubuntu 20.04 install and Maven 3.8.1 and I share your experience completely.
Started to play around with configuring my repositories etc. and all failed. Then I decided to drop everything and start overwith all Maven defaults.

Starting conditions:
* Maven 3.8.1
* Java 16
* deleted `~/.m2/repositories`
* deleted `~/.m2/settings.xml`

Sequence of commands:

[2021-04-06 07:12] tapaniantonrundgren commented on #344
I use large monitor (laptop in docking station), that could be the reason. Will test with laptop only later today

[2021-04-06 12:05] tapaniantonrundgren commented on #344
No, that was not the problem (not using laptop display but a separate monitor). After removing RedHat OpenJDK 1.8.0_282 it starts as expected!

[2021-04-06 15:25] belu commented on #348
Thanks @Oliver-Loeffler, I can confirm that with a previous `mvn install` the app can be started.

@abhinayagarwal Could you please update the `README` with this info so that other don't run into the same problem?

[2021-04-07 05:35] belu opened #352 "Popup with failed Update Check in Dev Mode"
When starting SceneBuilder locally from master an error popup for a failed "Update Check" is shown.
It states in the text that this is probably due to "Version number format not supported. Maybe using SNAPSHOT or RC versions".
If starting SceneBuilder frequently this gets annoying.
Additionally, the main window size changes and is smaller when the popup shows up.

### Expected Behavior
No error po

[2021-04-07 17:51] abhinayagarwal commented on #344
@Oliver-Loeffler  The proper fix for this issue would be to version the native libs (`glass.dll`)  on Windows. The issue is already logged in the [JBS](https://bugs.openjdk.java.net/browse/JDK-8223746). More information on this can be found here: https://github.com/karakun/OpenWebStart/issues/125#issuecomment-644740176

PDFSAM fixed it by [setting the PATH in the launcher script to its own runtime

[2021-04-08 08:02] alaa-abu-zidan opened #353 "CSS Analyser is not working"
CSS Analyser is showing values only from Defaults and Inspector columns.
Stylesheets and Inline shows no values although the styles are applied in the view.

This behaviour is the same on Windows, Mac, and Linux

[2021-04-08 19:28] Oliver-Loeffler commented on #344
I have an idea to achieve this with `jpackage` but first I have to be able to reproduce it locally.

[2021-04-09 06:50] #348 closed

[2021-04-09 07:05] Oliver-Loeffler commented on #323
Hi!
can you please check the effective `java.library.path` on your system?
It is possible, that in case of a 2nd installed JVM, there might be a situation where certain runtime libraries are not properly resolved (e.g. wrong version is used). With Java 8 this can lead to a crash, cannot say yet, how this behaves, when mixing other JVMs beside Java8.

This works as follows on a Windows Command Line

[2021-04-09 08:46] Oliver-Loeffler commented on #352
What do you think about following approaches for dev version:

* Accept snapshot and rc versions, extract the version without suffix and make the update check.
* OR: Skip the update check at program start, don't show any notification; Perform update check only on demand (called from menu), show same error.
* OR: Skip the update check at program start, don't show any notification; Perform update ch

[2021-04-09 12:22] palexdev opened #354 "SceneBuilder doesn't open or it's really slow in IntelliJ"
### Expected Behavior
When I open SceneBuilder from any shortcut it opens almost immediately.

### Current Behavior
In IntelliJ, it requires some time to open, it's really slow.

### Steps to Reproduce

1. Right-click on a fxml file
2. Click on "Open In SceneBuilder"

### Your Environment
OS: Windows 10 20H2 x64, SceneBuilder v16.0.0, IntelliJ IDEA 2021.1

### Additional Details
I submitted an iss

[2021-04-10 09:17] belu commented on #352
Skipping the update check at program start - at least in Dev mode - sounds good to me.

In Dev mode you normally wouldn't check for updates. Therefore IMHO it is not necessary to change the current behaviour on how to extract the version.

[2021-04-10 10:41] abhinayagarwal commented on #344
@Oliver-Loeffler A package can be created and someone who has the issue can test it for you.

[2021-04-10 10:43] abhinayagarwal commented on #354
Hi @palexdev !

Thank you for opening this issue.

Do you have the same experience in NB and Eclipse?

[2021-04-10 12:08] belu commented on #352
IMHO what should be fixed is the resizing of the main window when the update-check popup dialog appears.

Just tested with SceneBuilder 15.0.1 (non-dev mode) when an update is available ("Your Scene Builder version isn't the latest.").

[2021-04-11 14:26] belu opened #355 "Scene Builder 16 not released (only tagged)"
The last release of Scene Builder in GitHub is 15.0.1 and not 16. Version 16 has only been tagged, but not released.

[2021-04-11 15:03] palexdev commented on #354
Just tested on a VM, both NB and Eclipse work fine. SceneBuilder opens immediately.
I was wondering if the problem could be the javafx plugin for intellij at this point

[2021-04-12 13:41] abhinayagarwal commented on #355
Fixed!

[2021-04-12 13:41] #355 closed

[2021-04-13 19:53] micah-raney commented on #86
Hey guys, thought I'd pitch in my two cents
I ran IntelliJ as Administrator, opened Scene Builder within the IDE, and then got a popup asking me to whitelist some stuff in Windows Defender. I clicked Automatically Configure, restarted IntelliJ without Admin elevation, and the issue was resolved.
Hopefully this fixes the problem until said whitelisting is implemented into non-elevated IntelliJ.

Th

[2021-04-13 21:11] lorenzleutgeb opened #356 "Gradle 7 Compatibility"
Building this project with [Gradle 7](https://docs.gradle.org/7.0/release-notes.html) fails. The output can be found in [this gist](https://gist.github.com/r-rmcgibbo/e5090b647c72fa9cca2b8963a1671fd4).

The project makes use of the `maven` plugin, which was removed. Instead `maven-publish` [should be used](https://docs.gradle.org/7.0/userguide/upgrading_version_6.html#removal_of_the_legacy_maven_p

[2021-04-14 10:36] tapaniantonrundgren commented on #344
Great! Now it starts on my Windows 10 too!

[2021-04-14 11:35] izr-imazu opened #357 "Each section is blacked out"
### Current Behavior
 Each section is blacked out

### Your Environment
OS：Windows 10 20H2 x64、SceneBuilder v16.0.0、java 16

### Screenshots
![スクリーンショット (21)](https://user-images.githubusercontent.com/47239781/114703888-e0de0500-9d60-11eb-9690-14e083a97da2.png)

[2021-04-14 20:29] Oliver-Loeffler commented on #344
Well, I was now able to reproduce the issue. It indeed happens, when a JDK8 with JavaFX has been installed and its `JRE\lib` directory has been added to the envrionment path.

[code]

The directory `C:\Program Files\Java\jdk8u192-b12-with-jfx8u202-b02\jre\bin` contains a copy of  `glass.dll`. Indeed, after removing `glass.dll` from ` C:\Program Files\Java\jdk8u192-b12-with-jfx8u202-b02\jre\bin` Sc

[2021-04-20 04:19] abhinayagarwal opened #359 "StartupWMClass entry missing from desktop file"
Desktop name for Scene Builder on Ubuntu is displayed as "com.oracle.javafx.scenebuilder.app.SceneBuilderApp" instead of "Scene Builder".

The following entry for `StartupWMClass` in the `/usr/share/applications/scenebuilder-SceneBuilder.desktop` should be added to fix this:

[code]
However, since we package the application using `JPackage`, we need to find out how to achieve this using JPackage.

[2021-04-30 16:52] moacirrf commented on #346
I had a look at code and apparently is intentional.
Maybe a confirmation dialog may appear when try to open a new instance, what you think?

[2021-05-01 15:20] marcin-chwedczuk opened #360 "Custom control extending `Control` base class is treated differently than build in controls like `ScrollPane` or `TitledPane`"
* Both `ScrollPane` and `TitledPane` have `Control` as their base class (not counting `LabeledXXX`)
* Both of them have `content` property that allows us to put a single `Node` inside these containers.
* I builded a similar control and also added a `content` property. For some reasons I cannot trop any other controls like `TextField` on my custom control.

PROBLEM: SceneBuilder has hardcoded behav

[2021-05-01 18:29] moacirrf commented on #346
With a change on this method is possible to run, two instances of scene builder if  are different versions.
Appending the current version of scene builder in this method, it will create folder like that.
/home/my_user/.scenebuilder/16.0.0-SNAPSHOT/MB/

`public class AppPlatform {

    private static String applicationDataFolder;
    private static String userLibraryFolder;
    private static Strin

[2021-05-16 20:28] palexdev commented on #354
@abhinayagarwal is it possible to enable logging or is it already enabled?
I noticed that if I restart the process with a process manager SceneBuilder opens immediately (the files is loaded too)
Could it be some JVM exception that slows it down?

[2021-05-25 05:57] #344 closed

[2021-05-28 14:53] chege-maina opened #361 "JFXTextField not rendering"
When I drag the JFXTextField it goes back to the list and does not appear on the scene.... If I add it manually on the fxml code the entire scene does not render.... Using Scenebuilder 16
![scenebuilder](https://user-images.githubusercontent.com/79351719/120002572-a2816a00-bfdd-11eb-9725-fdc6b700a33a.png)

[2021-05-30 09:29] palexdev commented on #361
Probably because it's not compatible with recent versions of JavaFX
Try my project instead: [MaterialFX](https://github.com/palexdev/MaterialFX)

[2021-05-30 11:36] gringofe opened #362 "Scenebuilder 16 doesn't start on Linux Mint"
I installed version `16.0.0` using the deb binary from the Gluon website.

### Expected Behavior
Scenebuilder starts when user launches it

### Current Behavior
Scenebuilder doesn't start; when launched from commandline, the following log is printed:
[code]

### Steps to Reproduce
1. Install deb on Linux Mint
2. Try to launch

### Your Environment
* `Linux Mint 19.3`
* `OpenJDK 11.0.11`

[2021-05-31 09:42] #259 closed

[2021-06-01 18:42] Puccet commented on #263
Still alive with:
openjdk version "11.0.7" 2020-04-14 LTS
OpenJDK Runtime Environment Zulu11.39+15-CA (build 11.0.7+10-LTS)
OpenJDK 64-Bit Server VM Zulu11.39+15-CA (build 11.0.7+10-LTS, mixed mode)

And

Scene builder 16.0.0

Sigh!

[2021-06-05 10:06] swiftech opened #365 "copy and paste text turns out duplicated"
Text copy and paste to any property's input box will be duplicated.
and sadly, I can't select the redundant part of the text by mouse selection to delete it,  it seems that the best way to input something is typing.

### Expected Behavior
It should be exactly what I copy to the clipboard.

### Current Behavior
text is duplicated.

### Steps to Reproduce
select any text from anywhere,
ctrl+c
focus

[2021-06-13 10:56] palexdev opened #366 "SceneBuilder crashes"
Windows 10 20H2 x64, SceneBuilder 16
For some unknown reason, it now crashes when I delete a node, or I do 'CTRL+Z'
And of course there is no log, I wonder why you added this text:
[code]
I have never ever seen a log there from SceneBuilder, never

[2021-06-13 20:33] SkrrtNick commented on #342
C:\Users\Nick>java -XshowSettings:properties
Property settings:
    awt.toolkit = sun.awt.windows.WToolkit
    file.encoding = Cp1252
    file.encoding.pkg = sun.io
    file.separator = \
    java.awt.graphicsenv = sun.awt.Win32GraphicsEnvironment
    java.awt.printerjob = sun.awt.windows.WPrinterJob
    java.class.path = .
    java.class.version = 52.0
    java.endorsed.dirs = C:\Program Files\Ja

[2021-06-14 19:48] Oliver-Loeffler commented on #342
This indeed looks also like the `java.library.path`. At least for Windows, this is supposed to be no longer an issue with future versions of SceneBuilder. Until then I only can advice to remove JDK 8 and use JDK 16 instead.

What also works is, to install JDK16 as usual upfront and install JDK8 via ZIP file. This will keep the system settings free from JDK8 references and SceneBuilder will work wi

[2021-06-26 18:52] Tareq57 commented on #361
This is the same problem I am facing. and my current version of scene builder is also 16. But I searched on the internet and found that jfoenix is not working properly in the JavaFX 11+ version.

[2021-07-03 04:53] wanghongfei opened #367 "Provide Apple Silicon pre-build version of SceneBuilder"
Provide  Apple Silicon pre-build version of SceneBuilder.

### Expected Behavior
M1 native build of SceneBuilder should run much faster than current intel build.

### Context
I'm using macbook pro with the M1 ARM chip. I downloaded the latest version of ScendBuilder and found that it runs unbearably slow. Then I managed to build the source code by using Zulu's Apple Silicon JDK16 and Gluon's Apple

[2021-07-07 09:40] amalic commented on #66
Any news when this will be fixed?

[2021-07-07 11:15] ennerf commented on #366
I just upgraded to the same setup and I'm running into crashes as well. Trying to run it from commandline yields:

[code]

Renaming the `runtime\lib\ext` directory to `ext2` makes both `java` and `SceneBuilder.exe` execute:

[code]

I also added the renamed directory to the classpath via editing the `SceneBuilder.cfg` file:

[code]

It's hard to verify whether the classpath works properly, but thi

[2021-07-07 11:21] ennerf commented on #362
Possibly the same issue as on Windows #366

[2021-07-07 13:53] ennerf opened #368 "SceneBuilder 16 does not start on Windows 10"
I installed the Scene Builder 16.0.0 installer on Windows 10.0.19043, but it won't execute.

### Current Behavior
SceneBuilder does not start.

### Steps to Reproduce

It looks like a JVM issue. Trying to run the JVM from commandline yields:

[code]

### Workaround

Renaming the `runtime\lib\ext` directory to `ext2` lets both `java` and `SceneBuilder.exe` execute:

[code]

I also added the renamed

[2021-07-07 15:08] abhinayagarwal commented on #66
@amalic The oracle ticket linked by you has been fixed in OpenJFX 17. Can you still reproduce the issue while running Scene Builder with JavaFX 17-ea builds?

[2021-07-07 15:44] icyhoty2k opened #369 "scenebuilder overwrites preferences when installed multiple versions and change preferences in one of them"
When i install two versions of scenebuilder ex: scenebulider 16 and scenebuilder 8 and change preferences in one of the instance  it writes to both versions of scenebuilder and when i install plugins from library manager they become avaidable in both versions of scenebuilder that is not desired
### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screensho

[2021-07-07 16:09] amalic commented on #66
Yes. I think it has to do with fractional scaling. GDK_SCALE is per default set to 1.25. My guess is  that JavaFX converts it to an integer?

[2021-07-07 17:20] abhinayagarwal commented on #66
Strange, I can't reproduce the issue when using 125% scaling on Ubuntu 20.04.2 LTS and running from master on JavaFX 17-ea+14.

[2021-07-07 18:01] amalic commented on #66
Really strange. Maybe it's a driver or version thing (NVidia CUDA drivers, Open JDK 16, ...). Or my second screen which is rotated by 90°>

[2021-07-07 18:43] abhinayagarwal commented on #368
I installed Scene Builder on Windows 64-bit OS build 19043.1081. However, there is no `ext` directory in `SceneBuilder\runtime\lib`.

Can you add the text from Scene Builder -> Help -> About Scene Builder?

[2021-07-07 19:07] abhinayagarwal commented on #362
Hi @gringofe ,

If you have already ran `/opt/scenebuilder/bin/SceneBuilder` and haven't seen any logs, can you try the following command and check if you can get any information:

[code]

[2021-07-08 04:45] abhinayagarwal commented on #66
How are you running Scene Builder?

[2021-07-08 04:47] abhinayagarwal commented on #366
I suspect we need to fix the logging system in Scene Builder. @palexdev would it be possible for you to run Scene Builder from source (instructions are in the Readme) and check what's the root cause of the exception?

[2021-07-08 04:49] abhinayagarwal commented on #361
This is not a Scene Builder issue. Please report in library repository.

[2021-07-08 04:49] #361 closed

[2021-07-08 04:54] abhinayagarwal commented on #357
This could be a graphics driver issue or a failure in application startup. We need more information to fix this.

[2021-07-08 04:54] abhinayagarwal commented on #356
We have moved from Gradle to Maven.

[2021-07-08 04:54] #356 closed

[2021-07-08 05:23] palexdev commented on #366
Unfortunately not anymore
What I did was just restart Windows and since then it didn't happen anymore, so I can't reproduce the issue

[2021-07-08 05:26] abhinayagarwal commented on #366
In that case, I am going to close this issue. If you face this issue in the future, kindly try and run the application from source. In the meantime, I will log an issue to fix the logging system.

[2021-07-08 05:26] #366 closed

[2021-07-08 07:51] Tareq57 commented on #361
But I solved this problem by changing the version of scene builder from 16 to 11. cause I have read a post in stackoverflow. I am giving you this link: https://stackoverflow.com/questions/55889654/illegalaccessexception-for-jfxtextfield-with-java-sdk-12.

[2021-07-08 09:51] ennerf commented on #368
Sorry, it looks like an older version wasn't uninstalled correctly and left some remnants. A clean install works.

[2021-07-08 09:51] #368 closed

[2021-07-08 12:08] abhinayagarwal commented on #365
Duplicate of #263

[2021-07-08 12:08] #365 closed

[2021-07-08 12:14] chege-maina commented on #361
Thanks very helpful.

[2021-07-08 12:23] amalic commented on #66
I installed the Debian package via `apt install`. Running it via provided Ubuntu desktop launcher, except for my scaling fix.

[2021-07-09 04:58] abhinayagarwal commented on #66
Hi @amalic ,

Debian package comes with JavaFX version 16. Can you run Scene Builder JavaFX 17-ea+14 to check if the issue is resolved?

Just follow these steps:

1. Clone scenebuillder repository
2. Update [JavaFX version in root pom.xml](https://github.com/gluonhq/scenebuilder/blob/master/pom.xml#L19) to "17-ea+14"
3. run `mvn install && mvn javafx:run -f app`

[2021-07-09 06:20] abhinayagarwal opened #370 "Log files are not created"
The About dialog mentions that the log file must be created in tmp directory. However, no log files are created.

This is because no log file config is loaded by Scene Builder.

### Expected Behavior

Log file should be generated when Scene Builder runs.

### Current Behavior

No log files are generated

### Steps to Reproduce

Run Scene Builder on any platform and no log files are created.

[2021-07-12 15:15] palexdev commented on #354
https://user-images.githubusercontent.com/16880178/125312560-ad495180-e334-11eb-8688-eb394a5cc99e.mp4

Video of the actual behavior

[2021-07-13 03:37] abhinayagarwal opened #373 "[Linux] Main window size changes when the update popup shows up"
The issue was forked out of #352

Scene Builder window is maximed initially, but gets shrunk when the update dialog appears.

### Expected Behavior
main window size is not changed.

### Current Behavior
 main window size is reduced.

### Steps to Reproduce

- Start SceneBuilder with mvn javafx:run -f app.
- Close the window with the recent FXML files opened (title "Gluon Scene Builder").
- Error p

[2021-07-13 03:40] abhinayagarwal commented on #352
I have a created a fix for not showing the update dialog in case of development mode and forked out the second issue of main window resize into a separate issue.

[2021-07-21 13:52] #352 closed

[2021-07-21 13:53] #370 closed

[2021-07-23 10:08] palexdev commented on #337
This was a bad idea
Building with gradle is much easier than using Maven
With Gradle you could simply use the badass-jlink plugin instead of using scripts, which on my system fail to execute

Plus:

The Gradle team released the 7.0 and 7.1 versions really fast, you could have waited a little longer before this bad decision

[2021-07-23 10:39] palexdev opened #375 "Bring back Gradle"
Project can't be built with Maven
This is the messy output: [Pastebin](https://pastebin.com/pT0cjcRi)

Bring back Gradle, it's way easier to manage

[2021-07-23 11:42] abhinayagarwal commented on #337
Hi @palexdev ,

Gradle needs to be patched for every JDK version.  For example, [Gradle currently doesn't support JDK 17](https://github.com/gradle/gradle/issues/16857).

We plan to release Scene Builder for every major JDK release and this keeps coming up as a hindrance.

What exactly is failing for you?

[2021-07-23 11:48] johanvos commented on #337
I don't want to start yet another gradle versus maven war here. There are plenty of resources online discussing the issues with Gradle -> Groovy -> ASM which needs to be updated for every major release, and I don't want to repeat this here.

We lost way too much time already with gradle issues, which would have better been spent fixing SceneBuilder issues.

That is not to say Maven is better than

[2021-07-23 12:00] palexdev commented on #337
@abhinayagarwal Like I said, Gradle releases new versions pretty fast, waiting one/two weeks longer to release a new SceneBuilder version is not a big deal. But you are right, with every new Gradle version there's a high chance that the build configurations need to be patched.

#375, I don't know, Maven throws some output, but it's a mess, another reason why I don't like it

@johanvos You're right

[2021-07-23 12:05] abhinayagarwal commented on #375
The tests seem to be failing on Windows. I can have a look later.

For now, can you try the following:

[code]

[2021-07-23 12:11] johanvos commented on #375
I think the output is pretty clear :)
The worrying thing though is that there are test failures on Windows. That should not happen (independent of using maven/gradle/commandline/...) so we have to fix that, and we have to include Windows tests in our CI system to make sure it doesn't happen again (after this is fixed)

[code]

[2021-07-23 19:08] abhinayagarwal commented on #375
I had a quick look and it looks like the tests added in https://github.com/gluonhq/scenebuilder/pull/328 are breaking on Windows due to incompatible line-breaks in the text files.

I will file a separate issue for this and close this.

[2021-07-23 19:08] #375 closed

[2021-07-23 19:10] abhinayagarwal opened #376 "Tests are broken on Windows"
Tests introduced in #328 are breaking on Windows due to incompatible line-breaks in the text files.

### Expected Behavior
All tests should pass on all platforms

### Current Behavior
Tests fail on Windows

### Steps to Reproduce
1.  Get your hands on a Windows machine
2. Checkout scenebuilder
3. Run `mvn verify`

### Your Environment
Windows 10 + JDK 11

### Screenshots
NA

[2021-07-23 19:11] abhinayagarwal commented on #376
@belu Can you can have a look?

[2021-07-26 21:08] Oliver-Loeffler commented on #376
Hi!
I just checked out scenebuilder and cannot reproduce the issue.
I am using Java 11.0.2 (AdoptOpenJDK) on Win 10 Pro 21H1.

[2021-07-26 21:38] abhinayagarwal commented on #376
Hi @Oliver-Loeffler,

Thanks for your feedback. This issue is present and reproducible. Please check [this Github Actions job](https://github.com/abhinayagarwal/scenebuilder/runs/3163394027?check_suite_focus=true).

I spent some time trying to figure out what was going on and it turns out that a [recent commit](https://github.com/gluonhq/scenebuilder/commit/2ab807a0253a95d62d2376d0336e72a8958c9309

[2021-07-26 21:39] Oliver-Loeffler commented on #376
Hi @abhinayagarwal , it was my mistake.
But, as of now I am preparing a PR for review.
The root cause is, that Windows uses `\r\n` and Linux uses `\n` for line endings. I've made 3 relatively small changes to mitigate the problem.

[2021-07-26 21:49] abhinayagarwal commented on #376
The question here is if the implementation for FXML creation correct? If yes, then changing the tests makes sense. If not, we may need to fix the implementation.

[2021-07-26 22:01] Oliver-Loeffler commented on #376
True. As far as I can oversee it now, all subclasses of `AbstractSkeletonCreator` use the system provided line separator (`System.lineSeparator()`) which is fine in my opinion.

I will need to run the test on Linux tomorrow to see how it works there. I think that for `SkeletonBufferTest` the modification of the test is okay, as it now uses also the system provided line separator, same as the Skele

[2021-07-27 04:45] abhinayagarwal opened #378 "Update build workflow to run across all major platforms"
It is important to test all PRs against all 3 major platforms to avoid issues like #376

My recommendation is to convert the build workflow to run across a matrix of latest oses.

[2021-07-27 07:57] #378 closed

[2021-07-27 09:16] Oliver-Loeffler commented on #346
Souns like a very good idea. Asking the user is alwas good. @abhinayagarwal , what do you think? Would this fit with the way Scene Builder is supposed to be used?

[2021-07-27 09:21] Oliver-Loeffler commented on #249
At least on Windows, with Scene Builder 16, no crashes occurr. But, the context menu does not open.

@abhinayagarwal
What is the policy on creating bug fixes for old versions of Scene Builder? The issue can be probably solved for version 11.

[2021-07-27 11:47] abhinayagarwal commented on #249
There will be no releases for SB 11.x. SB 16 cab be used to produce FXMLs which are JavaFX 11 compatible. If there is a bug in 11.x and not reproducible in master, it is already fixed ;)

[2021-07-27 11:47] #249 closed

[2021-07-27 11:50] abhinayagarwal commented on #346
In my experience, Scene Builder stores its data in various locations, including and not limited to the `ApplicationDataFolder`. There are a few instances where Scene Builder depends on Java preferences.

If we want to pursue this further, we need to make sure that all the data for the 2 instances is stored separately to avoid any unnecessary complications.

[2021-07-28 15:58] moacirrf commented on #346
Yes you are right, i believe that is more easy deal with different folders for different versions than change the code that avoid open new instances.

Maybe this cannot be deal like a bug but a new feature to be discussed.
thanks

[2021-08-02 08:56] Oliver-Loeffler commented on #369
Which kind of behavior would be desirable? Some ideas:

* Store settings per version?
    * One could maintain multiple installations of the same version. Those would share the settings.

* Store settings per installation?
    * Each installation, regardless of its version, would have its own settings. No shared settings between different installations.

* Store settings per installation but allow

[2021-08-02 11:51] icyhoty2k commented on #369
I think that the second option - store settings per instalation is most practical

[2021-08-02 14:08] #376 closed

[2021-08-03 11:22] Oliver-Loeffler commented on #362
Please try also to run: `/opt/scenebuilder/lib/runtime/bin/java`-XshowSettings:properties` and pleas post the contents of following lines:

* `java.class.path`
* `java.library.path`

It seems, that at least `java.library.path` has the potential to prevent an application or a JVM from launch. For Windows the issue is reproducible, for Linux the boundary conditions have not been found so far. I trie

[2021-08-03 11:36] Oliver-Loeffler commented on #362
One idea to test.
SceneBuilder installs by default into `/opt/scenebuilder`. There is supposed to be a file `/opt/scenebuilder/lib/app/SceneBuilder.cfg`. Within this file, a section `[JavaOptions]` may exist.

You might add one additional line to this section and attempt a restart of SceneBuilder as described above.

[code]

If SceneBuilder starts after this modification, the issue can be solved f

[2021-08-03 13:38] Oliver-Loeffler commented on #168
Where would be a good place to store these diagrams? A documentation sub-project?

I could start drawing the basic project structure, using PlantUML markdown or C4. What would you prefer? I would start with the projects general structure and then work towards the project internals.

[2021-08-03 14:14] Oliver-Loeffler commented on #323
This is most likely closed with PR #358.
#358 defines a library path only for SceneBuilder and avoids that the system default (Windows path as defined in environment) is used.

[2021-08-03 14:15] Oliver-Loeffler commented on #342
This is most likely closed with PR #358.
#358 defines a library path only for SceneBuilder and avoids that the system default (Windows path as defined in environment) is used.

[2021-08-03 14:19] abhinayagarwal commented on #168
My preference would be to create a docs directory in the project itself.

[2021-08-03 14:20] Oliver-Loeffler commented on #357
This issue can also be caused by an inappropriate library path setting.
PR #358 can be a solution here, a test MSI file could help.

@abhinayagarwal, What is the best way to create a MSI installer from a snapshot version?

[2021-08-03 15:37] kado opened #381 "Save As Button In Preview Sample Controller Skeleton Dialog"
Add a button to save the generated Controller Skeleton to a java file.
### Expected Behavior
When the "Save As" button is clicked, SceneBuilder should prompt the Save Dialog to user select a path and filename. Generated java controller skeleton must be saved as .java file.

### Current Behavior
Button does not exist

### Context
Now working and teaching JavaFx with VSCode. These feature would save

[2021-08-04 02:22] abhinayagarwal commented on #362
@Oliver-Loeffler

Sure, just use the jpackage command from GA scripts.

In this issue, right? I do not see any problem with uploading the deb. FYI, executables are not supported to be uploaded in Githuib issues. You can however try to upload a zip file instead.

As the issue hasn't been reproducible on my end, it is difficult to concur if the proposed fix actually fixes OP's issue.

[2021-08-04 10:29] palexdev commented on #323
Yes, I can confirm that it works good now

[2021-08-04 10:32] palexdev commented on #354
Closing as fixed by #358
But at the time of writing this, the latest SceneBuilder build available still doesn't have the fix, so you either wait for the new version or compile it by yourself (good luck with that)

[2021-08-04 10:32] #354 closed

[2021-08-04 12:13] Oliver-Loeffler commented on #381
Hi @kado!

I have prepared a PR for this issue. The functionality is now as follows:
* The controller skeleton preview as now a "Save as" button.
* When pressed a file name is proposed.
* When confirmed with "save", the skeleton is saved to the proposed file.
* A confirmation dialog is shown, which allows to copy the file path to the clipboard.

I've explored following use cases for that (assuming

[2021-08-04 13:54] Oliver-Loeffler commented on #362
Hello @gringofe ,

you might want to try out a test build.
It's created from current master and the difference is, that now the library path is limited to the installation directory.

[https://github.com/Oliver-Loeffler/scenebuilder/blob/issue-362-deb-test/testbuilds/scenebuilder_16.0.0-SNAPSHOT-issue-
362_amd64.deb]()

Please try out and it would be great if you could post the contents of the "He

[2021-08-04 14:03] Oliver-Loeffler commented on #373
I cannot reproduce this on Linux Mint 19. On which platform was this observed?

[2021-08-04 14:06] abhinayagarwal commented on #373
I can reproduce this on Ubuntu 20.04.2 LTS

[2021-08-04 14:24] Oliver-Loeffler commented on #357
Hello @izr-imazu,

could you please try our an experimental build which could possibly solve this issue?
This is built basically from master branch without significant code changes (only in the About screen)
but with changes in packaging (custom library path).

[SceneBuilder-16.0.0-SNAPSHOT-issue-362.msi](https://github.com/Oliver-Loeffler/scenebuilder/raw/issue-362-deb-test/testbuilds/SceneBuilde

[2021-08-04 14:56] Oliver-Loeffler commented on #342
Hello @SkrrtNick, @undosimonad & @gigiwest123,

would you be so kind and test the following experimental build of SceneBuilder?

[SceneBuilder-16.0.0-SNAPSHOT-issue-362.msi](https://github.com/Oliver-Loeffler/scenebuilder/raw/issue-362-deb-test/testbuilds/SceneBuilder-16.0.0-SNAPSHOT-issue-362.msi)

Here basicalls the packaging process has been updated in order to provide a defined (SceneBuilder-o

[2021-08-04 15:02] palexdev commented on #323
Oh I didn't know that
I ended up building an msi myself and install the new version
I had to run the commands manually in CMD but I did it

[2021-08-04 15:06] Oliver-Loeffler commented on #323
Ah, I did this today, up to now I had no idea where to park the test packages. Eventually I'll drop the test branch.
Also, I was now able to reproduce the issue with IntelliJ and it seems, it was the very same mechanism.
Unfortunately, if not defined specifically, the provided JVM takes everything wich is on the Windows environment path and this depends on each individual machine/user setup. Actua

[2021-08-04 16:03] Oliver-Loeffler commented on #346
A similar topic raised with issue #369. Therefore I would opt-in with having separate settings and storages for individual installations of SceneBuilder. This also implies, that it should be first of all possible to have multiple versions installed. This is not possible yet but a requirement for #346 und #369.

[2021-08-04 16:08] Oliver-Loeffler commented on #344
Finally @palexdev tested this in #354.

[2021-08-04 18:10] Oliver-Loeffler commented on #347
I ran some tests on macOS Big Sur 11.3.1 with Java-11 and Java-16 installed and can only party reproduce the issue.
The test was conducted on MacBook Pro (Retina, 15', Mid 2015).
The character distortion on the Gluon Scene Builder welcome page exists but the bad font rendering in the main window is not reproducible.

<img width="274" alt="Bildschirmfoto 2021-08-04 um 19 09 08" src="https://user-im

[2021-08-04 18:55] Oliver-Loeffler commented on #333
Did the test run help? Any news on this topic?

[2021-08-04 23:05] mbpworks opened #383 "Button Data property for buttons in a ButtonBar"
### Summary

Hello!

I'd like to request, if it's not too much trouble, a new **Inspector** property for `Button Data` for buttons that are in a `ButtonBar`.

### Expected Behavior

A `Label` called "Button Data" with a `ChoiceBox` next to it (e.g. Alignment, Node Orientation, Cursor, etc. properties), located in the **Specific** property section of the **Inspector**, below the `Default Button` an

[2021-08-05 03:51] abhinayagarwal commented on #333
Hi @Oliver-Loeffler ,

Thanks for the nudge, I somehow missed your comment with the test results.

As the issue could not be reproduced on Windows, it is most probably a Linux/Ubuntu specific issue. I will try to create a SSCCE and file it in the JBS for the OpenJFX team.

[2021-08-05 06:47] izr-imazu commented on #357
Hello Oliver Löffler
Thank you for contacting me.I uninstalled and reinstalled the software once, but the phenomenon did not change.
Best regards

     ----- Original Message -----
 From: Oliver Löffler ***@***.***>
 To: gluonhq/scenebuilder ***@***.***>
Cc: izu ***@***.***>; Mention ***@***.***>
 Date: 2021/8/4, Wed 23:24
 Subject: Re: [gluonhq/scenebuilder] Each section is blacked out (#357)

He

[2021-08-05 09:04] Oliver-Loeffler commented on #357
Hello @izr-imazu,

thank you for testing. Unfortunately this did not work so we need more information about your system to identify the possibly cause.

Could you please share following information:
* Graphics hardware (external/internal GPU, GPU model & manufacturer)
* Graphics driver version
* Do you use Windows display scaling? If so, which scale do you run on (100%, 125%...etc.)?

Thanks!

[2021-08-06 06:19] abhinayagarwal commented on #333
While trying to create a SSCCE, I found that DialogPane has a label and it sets the following properties on it:

[code]

While in Scene Builder, the update label has the following styles:

[code]

Changing the above to the following fixed the issue:

[code]

The current version label was getting truncated because the GridPane in `UpdateSceneBuilderDialog` had a column constraint on it setting the

[2021-08-06 18:31] gigiwest123 commented on #342
Thanks, this is now working.

On Wed, Aug 4, 2021 at 3:56 PM Oliver Löffler ***@***.***>
wrote:

[2021-08-06 19:12] Oliver-Loeffler commented on #342
Glad to hear that this works!

[2021-08-06 21:00] Oliver-Loeffler commented on #333
Thanks for the analysis!

[2021-08-09 08:12] #333 closed

[2021-08-11 07:52] icyhoty2k opened #385 "Request Zoom bigger than 400 %"
Somethimes i need zoom bigger than 400 % and smaller than 25%
### Expected Behavior

at least from 5 % to 1600% zoom please
### Current Behavior

### Context

[2021-08-11 14:39] mimmoz81 opened #386 "FileSystemWatchService is never stopped and is spawned multiple times"
The watchService for user library is never stopped and it is spawned twice or more.
I'm creating this issue as described in #236
I'm going to do a PR for this shortly (I hope..)

### Expected Behavior
The watchService should be terminated gracefully

### Current Behavior
The watchService is never stopped

### Steps to Reproduce
Import a library from jar/fxml manager.
Drop that library.
Install aga

[2021-08-11 15:29] luca-domenichini opened #388 "Allow ESC key to select parent control in HierarchyTreeView and ContentPane"
As most of wysiwyg it would be nice to have the ESC key to navigate upwards and select the parent of the selected control on SceneBuilder.

### Expected Behavior
Pressing ESC on ContentPane or on HierarchyTreeView should move the current selection to the parent of the currently selected control.

### Current Behavior
ESC key does nothing.

### Context
I am opening this feature as of point 4 of #23

[2021-08-11 15:42] mimmoz81 opened #390 "ADD Refresh library menu item"
When developing a collection of custom controls, after adding them from jar/fxml manager as a folder of classes, it would be useful to have a way to refresh the library from scratch without restarting SceneBuilder.
This is especially useful when developing new controls, since it would be possible to append those new controls to the library on the fly without restarting SB.

### Expected Behavior
P

[2021-08-11 15:56] mimmoz81 opened #392 "UserLibrary workspace enhancements"
This feature will provide some enhancement to the workspace management of custom controls.

- users can link external jars/fxmls or folders to a workspace that is saved in a xml file inside the userlibrary folder. Jars/fxmls are not copied inside the library folder but are just linked as an external source.
- ability to import/export a workspace
- command line parsing the workspace: a new switch *

[2021-08-11 16:01] mimmoz81 commented on #392
To avoid conflicts with other PRs, I will wait to provide a PR until #387 #389 and #391 are merged

[2021-08-12 00:35] izr-imazu commented on #357
Hello Oliver Löffler

   - Graphics hardware (external/internal GPU, GPU model & manufacturer)
 Intel UHD Graphics 620

   - Graphics driver version
 27.20.100.8935

   - Do you use Windows display scaling? If so, which scale do you run on (100%, 125%...etc.)?

 100%

Best regards

     ----- Original Message -----
 From: Oliver Löffler ***@***.***>
 To: gluonhq/scenebuilder ***@***.***>
Cc: izu *

[2021-08-13 18:23] gringofe commented on #362
Hi,

I don't know what the issue was, but it works fine now? Can't reproduce it anymore

[2021-08-21 09:30] SamuelWolfang opened #393 "Build error `module javafx.fxml does not "opens javafx.fxml" to unnamed module @2f490758`"
I was trying to build scenebuilder on my M1 Macbook so that it could run natively.

Using Liberica with JavaFX (arm native)
[code]

### What I tried
Looking online only thing I could find is `--module-path` and `--add-modules`.
Under `<plugins>` in the pom.xml file (root directory) I tried adding those commands separately:

[code]
 With no avail.
I tried running
`java --module-path /Library/Java/J

[2021-08-23 11:38] antikmozib opened #394 "SceneBuilder automatically changes the line endings of FXML files to LF, even in Windows"
Even in Windows, SceneBuilder saves fxml files with LF line endings instead of CRLF line endings, causing continuous conflict with things like git.

### Expected Behavior
Line endings should be left untouched

### Current Behavior
CRLF line endings are auto-converted to LF, even in Windows

### Steps to Reproduce

1. Open a fxml file with CRLF line ending
2. Make some changes and save
3. Observe t

[2021-08-25 13:05] icyhoty2k opened #395 "SceneBuilder is opening slow when you have Intelij open"
When starting scenebuilder from intelij idea ,Right CLick on fxml file in the projects view , then choose open in scene builder
it open really slow , and some times it does not open scenebuilder at all , you have to close intelij idea then scenebuilder open imidately
### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screenshots

[2021-08-28 20:33] Oliver-Loeffler commented on #395
Hi @icyhoty2k,
would you mind to test this preliminary build?
https://github.com/Oliver-Loeffler/scenebuilder/blob/issue-362-deb-test/testbuilds/SceneBuilder-16.0.0-SNAPSHOT-issue-362.msi

Cheers!

[2021-08-28 20:37] Oliver-Loeffler commented on #394
Yes, I can confirm this issue.

[2021-08-28 21:10] Oliver-Loeffler commented on #385
What would be the preferable way? Presets or a sliding control, possibly with textual input as well?
I've played with the zoom and technically it works fine on Win10 / Java 16.

I can imagine, the the Zoom menu gets a new item to enable 'free' zoom (one could also call it custom zoom or advanced zoom). This would either create a new floating control with a textfield and a slider or the left pane w

[2021-08-28 22:37] Oliver-Loeffler commented on #21
@abhinayagarwal This item can be closed, afaik Scene Builder checks for updates and provides a notification to the user.

[2021-08-28 22:49] Oliver-Loeffler commented on #9
This is not reproducible anymore with SB16.
Adding a component to the FXML worked fine, also adding another column works w/o issues.
However, the empty grid pane is not visible in layout view but in hierarchy.

@abhinayagarwal
This one can be closed.

[2021-08-28 23:04] Oliver-Loeffler commented on #42
With SB16 this does not seem to be an issue anymore. It is possible for each library item to modify the selection if a certain control shall appear in custom controls or not. Also when an artifact is removed from library, the setting can be modified latest when the control is added again.

@abhinayagarwal
This one also looks as if it can be closed.

[2021-08-28 23:46] icyhoty2k commented on #385
I think that most useful will be to put zoom control like this look the screenshot
![2021-08-29_023333](https://user-images.githubusercontent.com/18739717/131233669-4c7e14aa-03e5-4754-a459-116b1a5e3188.png)

[2021-08-28 23:48] icyhoty2k commented on #395
ok but i use scenebuilder8 alongside scenebuilder 16 i need scenebuilder 8
too i will try this

On Sat, Aug 28, 2021 at 11:33 PM Oliver Löffler ***@***.***>
wrote:

[2021-08-29 02:53] #9 closed

[2021-08-29 02:54] #42 closed

[2021-08-29 02:55] #21 closed

[2021-08-29 08:29] Oliver-Loeffler commented on #395
Ah, SceneBuilder is currently designed in a way, that there is only one running instance expected.
If one version of SceneBuilder is running, it prevents the other version from starting.

There are other issues around such as #346 and #369. So This is definitely something where is worked on.
I will try to prepare one or more PRs, which eventually shall enable to run multiple versions.

[2021-08-29 08:31] Oliver-Loeffler commented on #369
Well, option 2 sounds most practical but after reviewing the code and how things work, I'll start to play with option 1 as this is momentarily the most promising.

[2021-08-29 09:02] Oliver-Loeffler commented on #395
What I have found so far is, that all SceneBuilder instances share the same system preferences (since SB 2.0) and also the same settings/application data directory. What is missing as of now, is the the version number available during Scene Builder application startup.

[2021-08-29 09:16] Oliver-Loeffler commented on #395
Well, i've got it working. Will prepare a PR this afternnoon and also will prepare a preliminary build so you can test it.

[2021-08-29 09:17] abhinayagarwal commented on #386
This is a simple change and looks OK to me. I would also like @jperedadnr to have a look a look at it before we go ahead and merge the same.

[2021-08-29 09:28] abhinayagarwal commented on #390
I was of the opinion that the WatcherService does that for us i.e. any change in the library is automatically loaded into SB. Since you created a PR, it definitely doesn't do this.

I am not accustomed to this part of SB and since you have already worked with it in the past, can you give me a quick overview of what exactly is  `LibraryFolderWatcher` doing and why do we need an external button to l

[2021-08-29 10:46] Oliver-Loeffler commented on #394
I have reviewed how the FXML serialization works and I am hestitating to modify any of the code.
One approach here can be:
1) make the `com.oracle.javafx.scenebuilder.kit.fxom.FXOMSaver` replace all single instances of `\n` with `\r\n`.
2) introduce a configuration option `FXML line breaks` in the settings panel to make the user choose the type of line separator (System specific, `\n` or `\r\n`).

[2021-08-29 12:41] Oliver-Loeffler opened #397 "Add Checkstyle Plugin to Maven Build"
For each PR certain quality criteria have to be met  to get merged.
One of these criteria is code formatting (e.g. indentation by spaces, not adding extra whitespace etc.)

### Expected Behavior

One should be able to check if these criteria are met by a report by calling Maven `mvn checkstyle:checkstyle `.
If so, then a report will be available in `target/site/checkstyle.html`.

The rules and con

[2021-08-29 13:38] Oliver-Loeffler commented on #369
Question @icyhoty2k,
When running multiple instances, would you prefer that all SceneBuilder instances share their repository configuration (just the config!) or would you prefer that every version has its very own repository configuration?

I've explored this today and sharing the repositories (not the libraries) can be implemented relatively straight forward.
This could be done as a complement t

[2021-08-29 13:40] Oliver-Loeffler commented on #385
This is a cool idea, I'll dig into that and see whats possible. The existing zoomin/zoomout functionality could be re-used here as well.

[2021-08-29 13:49] Oliver-Loeffler commented on #353
![CSS-Inspector-Not-Working](https://user-images.githubusercontent.com/22102800/131252699-d3600104-1d6c-4447-8c62-527fc7a4a884.PNG)

I can confirm this behavior. It is confusing, that custom styles or style classes are not shown in the CSS inspector.

[2021-08-29 13:52] Oliver-Loeffler commented on #362
@gringofe Did you try the package for testing or did you repeat the test with the SB version you have had installed?

[2021-08-29 17:05] Oliver-Loeffler opened #400 "Add documentation and community links in SB help menu"
I can imagine, that for many users Scene Builder is kind of an entry point ro the JavaFX world.
As there is a great community and there is a lot of documentation and tutorials out there,
it would be great if Scene Builders help menu would offer links to those places.

This could be also a good thing for the upcoming version 17.

### Expected Behavior
* SB should offer a link to Github on how to co

[2021-08-29 18:46] mimmoz81 commented on #390
The button is needed because the service that keeps monitored the library folder - `LibraryFolderWatcher` - just tracks changes on that folder, e.g. jars and fxmls.
If we add a folder to the library the .class files are on a different folder and the watcher service does not automatically reloads when they change.
I think this is ok, because when we link a folder with classes we are probably develo

[2021-08-29 19:03] Oliver-Loeffler commented on #326
@belu @johanvos I have created PR #399 which adds a Checkstyle report to the Maven build process. It does not break the build. But, this we can use to define automated checks for SceneBuilder. I've played around with the default and there one gets too many warnings. That was the reason why I restricted the scope of checks. But over time we could grow the number of checks according to what we think

[2021-08-29 19:29] Oliver-Loeffler commented on #253
This is even worse. There should be an error dialog which is not shown.
The exception is thrown by `FXMLLoader` as it fails to handle the `<fx:reference source="controller"/>`.
Before making any step further, I need to find out, why the error dialog does not appear.

[2021-08-29 19:54] Oliver-Loeffler opened #402 "For some cases on errors during FXML Loading no error dialog is presented"
As described in issue #253, some FXML files failed to load.
The case described in #253 fails in a way, that the error is not communicated to the user.

### Expected Behavior

Each error which prevents FXMLFiles from being loaded shall be presented to the user.

### Current Behavior

SceneBuilder remains silent and does not load the FXML.
The error is logged.

### Steps to Reproduce

Save the attac

[2021-08-29 20:30] Oliver-Loeffler commented on #378
@abhinayagarwal As this workflow is now working, have you considered to run more frequent releases? As of now there is only the release in March/September.

How about setting up something like monthly releases or even something like a nightly? May be monthly is enough, master does not change that often. But actually, for the users it would be a benefit and we would get earlier feedback on issues.

[2021-08-29 22:03] mimmoz81 commented on #369
Well I think that all SB settings, including repository configuration, should be stored in the workspace location.
I mean that at startup, user should be able to choose a folder to represent the current workspace.
The workspace should:
- be importable/exportable to quickly create a new ws copying from an existing one
- contain all SB settings
- contain custom library definition (jars, fxmls, folde

[2021-08-29 22:34] Oliver-Loeffler commented on #369
This is very comparable to what e.g. Eclipse does. I really like that approach.
I will review the work in #392 and think about, how we could shape this into multiple small PRs.

[2021-08-29 23:49] icyhoty2k commented on #385
Thank you , yes the existing zoom remain especialy the zoom shortcut keybindings ! , they can trigger the plus and minus buttons on the screenshot . I think that this is very functional maybe not he most beautiful place in scenebuilder to place those controls
 but its informative and functional , i thik this placement does not break the clean design of scenebuilder , just tweak the size and color

[2021-08-29 23:54] icyhoty2k commented on #395
thanks

[2021-08-30 05:22] abhinayagarwal commented on #390
Thank you for the explanation. I have another question: Do you think keeping a service which monitors the Library folder holds water? Can we query and update the changes whenever the user opens the LibraryManager? Moreover, with the current PR we also have a "Refresh" button to load any changes if required.

I personally do not like a thread which queries a directory every second for the entire li

[2021-08-30 12:11] mimmoz81 commented on #390
I see your point @abhinayagarwal and agree with you. The manual refresh button is simpler and straightforward, and we can avoid polling the filesystem.
I will need to rework the refresh action though, because now it simply triggers the underlying thread..

[2021-08-30 12:13] mimmoz81 commented on #390
Do you want me to proceed that way? Dropping the thread and have just the refresh button? Offcourse, manipulating the library through the library manager dialog will have to refresh the library too..

[2021-08-30 13:33] Oliver-Loeffler commented on #14
Okay, let's revive this issue here.

### Concept Questions:
Shall Scene Builder offer workspaces as an option parallel to the current mode of operation (working with single, isolated files, having a shared libs folder)?

### What is needed to develop the concept of workspaces in Scene Builder?
* Configuration handling and application preferences must be updated accordingly so that serialisation to

[2021-08-31 07:33] daniel-shuy commented on #14
For this purpose, I've resorted to use Intellij IDEA's embedded JavaFX Scene Builder, which treats the project as a workspace. Maybe the standalone Scene Builder application can use that as a reference/inspiration?

[2021-08-31 09:26] Oliver-Loeffler commented on #14
Thanks for the hint, yes, very good idea to use this as inspiration. I never used the embedded version so didn't know about this feature.

[2021-08-31 12:08] abhinayagarwal commented on #388
My experience with wysiwyg is only limited to Scene Builder. May be @Oliver-Loeffler @jperedadnr will have comments on this.

[2021-08-31 12:18] Oliver-Loeffler commented on #388
Well, I've just played with Visual Studio and did not observe that kind of node handling in the tree. But, it is an idea to try out. May be it helps usability. I will play with IntelliJ and Netbeans to figure out, if there is a similar behavior. If so, it would be good when Scene Builder acts in a similar way. Nevertheless, selecting nodes with key strokes is always a good idea. Traversing the sce

[2021-08-31 12:27] Oliver-Loeffler commented on #388
What I observed in past was, that ESC often cancels any selections.

[2021-09-01 11:58] brunogptavares commented on #347
@Oliver-Loeffler I just download the DMG, but I got an error saying that SceneBuilder is damage, when I try to run it.

[2021-09-01 15:40] mimmoz81 commented on #388
Sorry for being too generic..
I used WindowBuilder for Swing apps on eclipse in the past and when you have many panels nested inside each other and you click on the last leaf node - a button - maybe you wanted to select the parent or the grandparent in order to change to background color for instance..
The point is that sometimes it is difficult in SB to select the parent node because there are to

[2021-09-02 13:53] #397 closed

[2021-09-04 08:56] nevillebrailsford opened #404 "Scenebuilder on MacOS does not display menu"
Scenebuilder on MacOS does not show menu when FXML file has useMenuSystemBar set to true in the FXML file loaded into SceneBuilder..

### Expected Behavior
SceneBuilder should show its full menu no matter what the FXML file being edited contains.

### Current Behavior
SceneBuilder shows the menu from the FXML file.

### Steps to Reproduce
Run SceneBuilder on macOS and load an FXML file that contai

[2021-09-04 08:58] nevillebrailsford commented on #404
Oops - forgot to add this to the Steps to reproduce section:

<MenuBar useSystemMenuBar="true" BorderPane.alignment="CENTER">

[2021-09-04 09:00] nevillebrailsford commented on #404
&lt.MenuBar useSystemMenuBar="true" BorderPane.alignment="CENTER"&gt.

[2021-09-06 09:49] mimmoz81 commented on #390
Today when the user touches anything on the library manager dialog, either by adding or removing something, a refresh of the custom library starts.
Maybe it would be simpler and more efficient to do the refresh just once when user clicks OK, so if the user clicks Cancel all the operations should be discarded -- today there is just a Close button since all modifications in that dialog are performed

[2021-09-06 09:57] abhinayagarwal commented on #390
If the thread is just polling file system for changes, I think it would be better to remove the polling system and replace it with your suggestion. Since @jperedadnr has done some work in this area in the past, he can chime in as well.

[2021-09-07 12:30] Oliver-Loeffler commented on #404
Hello @nevillebrailsford.

I am able to reproduce the issue. When having 2 scenes open for editing in Scene Builder, switching to Scene different from the one with `useSystemMenuBar="true"` will restore the menu. But, this is unsatisfying.

What is the desirable behavior, what do you think @nevillebrailsford &  @abhinayagarwal ?

For both versions, if the property `useSystemMenuBar="true"` is conf

[2021-09-07 13:33] Oliver-Loeffler commented on #388
I just found, that in Hierarchy view pressing the left cursor key `<-` collapses the current parent node and also selects the parent if pressed a 2nd time. Having the the cursor to be used in Editor view would be counter intuitive.

I think having `ESC` for direct parent node selection in Editor and Hierarchy is a very good idea. After working a little more with SB during the last months I persona

[2021-09-07 17:24] Oliver-Loeffler commented on #357
Thanks for providing the details, this really seems to be something hard to reproduce. With some luck it won't happen with JavaFX17.

@abhinayagarwal
Any ideas how to proceed here? Are there some hooks (better logging, logging on JavaFX platform level etc.) in JavaFX/SceneBuilder where we could extract more use details?

[2021-09-07 20:46] Oliver-Loeffler commented on #373
I was now able to also reproduce this.
Ubuntu 20.04.2 LTS, 64bit
GNOME: 3.36.8 with X11

[2021-09-07 22:02] Oliver-Loeffler commented on #359
I have played around with `jpackage` and also reviewed its [source code](https://github.com/openjdk/jdk/blob/master/src/jdk.jpackage/linux/classes/jdk/jpackage/internal/DesktopIntegration.java). Not sure yet, but I think there is no chance to achieve this with `jpackage` as of now.

But, we could achieve this via Github Actions. It is possible to re-pack a Debian package.
It works as follows (migh

[2021-09-07 23:23] Oliver-Loeffler commented on #359
I found a possibly better solution. JPackage offers to use template for certain phases of the installation. For Debian there is a `postinst` script which can be utilized. Within this script the desktop file is installed and prior to its installation one can add the line `StartupWMClass=com.oracle.javafx.scenebuilder.app.SceneBuilderApp`. The PR is going to be reworked in order to offer the more si

[2021-09-08 07:41] #381 closed

[2021-09-08 08:25] #386 closed

[2021-09-08 09:28] Oliver-Loeffler commented on #359
With the modification proposed in PR #407, SceneBuilder on Ubuntu, installed from a *.deb package, looks as follows:

![unknown_2021 09 08-11 24_1_copped](https://user-images.githubusercontent.com/22102800/132483771-e02351e3-a6c3-4768-b759-a594045da9ab.gif)

Thanks for providing the hint with the `StartupWMClass` setting.

[2021-09-08 09:40] Oliver-Loeffler commented on #373
With PR #406 the behavior is now as follows:
![unknown_2021 09 08-11 30_1_noResize_cropped](https://user-images.githubusercontent.com/22102800/132485680-b663d7e6-5b77-4247-b57a-749ee6b8a507.gif)

In the VM where I tested that, the resize process was sometimes visible as kind of flicker.

Before PR #406 its kind of weird, never observed this in Windows.

![unknown_2021 09 08-11 31_1_withResize_crop

[2021-09-08 10:01] nevillebrailsford commented on #404
Hi Oliver,
Thnaks for picking up on this issue - my preference for the behaviour would be version 1, as described in your comment above.

[2021-09-08 10:32] Oliver-Loeffler commented on #404
Version 1 is implemented in the PR #405.  If you like, try out the issue-404 branch of my [SceneBuilder mirror](https://github.com/Oliver-Loeffler/scenebuilder.git).  Clone, switch to branch issue-404 and run with maven.

[code]

[2021-09-08 11:06] mimmoz81 commented on #390
@abhinayagarwal @jperedadnr I updated the PR removing the polling thread.
The library is now refreshed when the user closes the library manager dialog AND make some modifications on it (adding, removing, etc..).  If the user just opens the dialog and do nothing, it is not refreshed.
Offcourse, there is the new Refresh button too...

If you give me an OK, I can rename the class `LibraryFolderWatche

[2021-09-08 23:34] Abdulmaliknurudeen4 commented on #342
@Oliver-Loeffler  build works really fine for me. i checked the cfg file in the installation path and figured out the difference was the java-options=-Djava.library.path=runtime\bin;runtime\lib . which is absent by default in the normal scenebuilder build. Caused alot of errors on windows. Thanks @Oliver-Loeffler

[2021-09-09 06:45] Oliver-Loeffler commented on #342
@Abdulmaliknurudeen4 Thanks for your feedback.

Eventually this must be solved by versioning of the JavaFX related DLL files on Windows. This is more likely a workaround for SceneBuilder but the issue can occur with other packaged JavaFX applications as well.

As PR #358  has already been merged, this change will become effectively available with Scene Builder 17.

[2021-09-09 07:16] Oliver-Loeffler commented on #267
Not exactly the same but related: PR #277

[2021-09-09 07:19] Oliver-Loeffler commented on #267
Hello @tretonis

The idea of section as per library is already implemented in #277. Its now being discussed, if all custom controls go into one big section with sub-sections per custom control.

Would this already be what you've been asking for @tretonis ?
If not, what would be the contents of the "My Name Section"? Are you looking for e.g. recently used controls or selected favorite controls?

Ch

[2021-09-09 07:38] Oliver-Loeffler commented on #253
@abhinayagarwal
What is the way SceneBuilder should work? If the controller class as defined in `fx:controller` property does not exist in class path or module path, this is supposed to fail. Should there be a way for users to extend the class path for FXML loading?

Otherwise, one approach would be to ignore the user data elements on existing FXMLs for FXML loading.
This would be possible by exte

[2021-09-09 08:34] nevillebrailsford commented on #404
Hi Oliver,
I have tried the fix and all looks good. Thanks very much.

[2021-09-09 09:27] jperedadnr commented on #404
Version 1 is the way to go, only when you have a focused preview window it can take the system menu bar like any other active app.

About adding the `useSystemMenuBar` property to the inspector, so far it is [hidden](https://github.com/gluonhq/scenebuilder/blob/master/kit/src/main/java/com/oracle/javafx/scenebuilder/kit/metadata/Metadata.java#L6273) for some reason. However, with the fix from #405

[2021-09-09 15:36] bendem commented on #253
Yes, that's the point of userData in my opinion, provide something dynamic to a static view. There is no way scenebuilder could ever resolve that symbol.

[2021-09-10 00:38] Abdulmaliknurudeen4 commented on #342
Thanks a ton. Saved me time @Oliver-Loeffler

[2021-09-10 19:09] #284 closed

[2021-09-13 03:27] kangjianwei opened #408 "The menu text is displayed abnormally."
Abnormal version:
- IDEA version: 2021.2.1
- scenebuilder kit version: 11.0.6 and 16.0.0
- JavaFX plugins version: bundled 212.5080.55

[2021-09-13 05:58] abhinayagarwal commented on #373
This issue can only be replicated under the following circumstance in Scene Builder:

1. A Stage with `Modality` as `APPLICATION` is shown
2. This Stage is hidden, and followed by showing another Stage with Modality as `APPLICATION`

I tried replacing Scene Builder's Alert with a temp stage:  `if(showWelcomeDialog){ }` block inside `SceneBuilderApp#handleLaunch` method. But, the issue can still be

[2021-09-13 07:37] abhinayagarwal commented on #253
Ignoring the user data elements sounds like the correct approach. I can't think of a scenario where Scene Builder would need to use the data and process something.

[2021-09-14 08:12] #362 closed

[2021-09-14 22:15] Oliver-Loeffler opened #411 "Correct POM.xml link to issue management"
The issue management configured in `POM.xml` points to a Github repository different from SceneBuilder.
https://github.com/gluonhq/scenebuilder/blob/bdb89186b2cf5bf75f7cfffdaeb905529baa7c93/pom.xml#L101-L104

### Expected Behavior
Issue management for Scene Builder is expected to point to SceneBuilder Github repository at https://github.com/gluonhq/scenebuilder/issues.

### Current Behavior
Issue

[2021-09-14 22:32] Oliver-Loeffler commented on #408
Hello @kangjianwei , could you please share a screenshot?
Have you also tried running the latest SceneBuilder from Github, is the issue observable with the latest version as well?

Thanks!

[2021-09-14 22:34] Oliver-Loeffler commented on #404
Once the proposed fix gets accepted, we can start a new issue for the `useSystemMenuBar` property in the inspector panel.

[2021-09-23 05:25] abhinayagarwal opened #413 "Update runtime information in About Dialog"
Current About Dialog in Scene Builder shows the VM version and name. It should infact show Java version and runtime name.

SB currently uses `${java.vm.version}, ${java.vendor}` to print this information. These should be updated to `${java.version}, ${java.runtime.name}`

### Expected Behavior
Show Java version and runtime name.

Instead of `17+35-LTS-2724, Oracle Corporation`, it should show `17,

[2021-09-23 05:44] himanshu007-creator commented on #413
Hi @abhinayagarwal , i would like to work on this issue

[2021-09-23 12:41] #359 closed

[2021-09-23 13:27] abhinayagarwal commented on #14
Scene Builder workspace is obviously a good idea but we need to have enough use-cases before we move forward with it.

Scene Builder can be used across multiple JavaFX projects which can have their own set of custom controls. Apart from custom controls, is their anything else which we would like to isolate in Scene Builder?

One thing that comes to my mind is the JavaFX version used to create the

[2021-09-23 13:53] abhinayagarwal commented on #394
This issue reminds me of our conversation in an PR https://github.com/gluonhq/scenebuilder/issues/376#issuecomment-887050804

[2021-09-23 14:14] abhinayagarwal commented on #393
Hi @SamuelWolfang ,

Thank you for reporting the issue.

`aarch64` artifacts for macos are now available in Maven Central since JavaFX 17. Since `master` branch already uses `17`, I would suggest to pull latest changes from master and then run:

[code]

[2021-09-23 15:47] #411 closed

[2021-09-24 05:35] abhinayagarwal commented on #343
Just curious with the title. Is the behavior not present in Scene Builder 2.0?

[2021-09-29 09:24] #413 closed

[2021-09-29 14:21] abhinayagarwal opened #416 "`version.json` upload fails"
In the recent SB 17 release, `version.json` upload to AWS failed with:

[code]

https://github.com/gluonhq/scenebuilder/runs/3744932154?check_suite_focus=true

### Expected Behavior
`version.json` like `settings.properties` should successfully upload

### Current Behavior
Upload of `version.json` fails

### Steps to Reproduce
Check GA workflow:
https://github.com/gluonhq/scenebuilder/runs/37449321

[2021-10-03 21:57] Wicked0ne opened #417 "Unable to use JFXTabPane from JFoenix"
Product Version
JavaFX Scene Builder 17.0.0

Build Information
Version 17.0.0
Date: 2021-09-29 13:41:58
JavaFX Version: 17
Java Version: 17, OpenJDK Runtime Environment

JavaFX
17

Java
17+35-2724, Oracle Corporation

Operating System
Windows 10, amd64, 10.0

I am unable to add a JFXTabPane to my project. If I manually add it externally Scene Builder refuses to open it.

Steps to reproduce:
Instal

[2021-10-10 01:24] louhy opened #418 "Provide better control over the xmlns version attribute; prevent runtime warnings"
Prevent warnings at runtime such as "WARNING: Loading FXML document with JavaFX API of version 16 by JavaFX runtime of version 13" by allowing more control over which xmlns version is used.

### Expected Behavior
When saving an FXML, Scene Builder should be able to either leave the existing xmlns version alone, or allow the user to specify a default version in preferences, so these warnings aren't

[2021-10-13 00:54] louhy opened #419 "White screen in window after restoring from minimized view (window redraw issue)"
Window does not redraw immediately when restored/maximized after being minimized for some (unknown) time.

### Expected Behavior
Window should redraw when restored.

### Current Behavior
When this happens, you only get a white screen for your scene. Resizing or maximizing the window triggers a redraw, making this an annoyance with a workaround.

### Steps to Reproduce
Leave Scene Builder minimized

[2021-10-25 09:56] jsls2517 opened #420 "MenuItem cannot be added to ContextMenu"
SceneBuilder 17.0.0 FXML

MenuItem cannot be added to ContextMenu

[2021-11-02 12:26] tretonis commented on #267
I just want it to show the name of a session and be able to put the component inside it.
Example

in the accordion menu

[My Components]
TextFormat
MyLabel
WebNew
etc

Thanks

[2021-11-14 15:09] swiftech opened #421 "fxml file modified from outside won't be reloaded"
fxml file modified from outside of SceneBuilder will be reloaded when SceneBuilder is active, but only be reloaded once.
If you modify the file externally again, and back to SceneBuilder, the file won't be reloaded ever.

### Expected Behavior
The file should be reload no matter how many times be modified from outside of SceneBuilder.

### Current Behavior
as mentioned above

### Steps to Reproduc

[2021-11-16 16:51] palexdev opened #422 "SceneBuilder custom controls initialization"
Is there a way for custom controls to inform SceneBuilder that some properties should be initialized with certain values?

If not, wouldn't it be a great feature? We could use a constructor annotation for example

[2021-11-17 07:18] mimmoz81 commented on #422
Why not use constructor itself? Why the need for an annotation?
Couldn't you initialize those properties in the constructor?
Maybe if you provide an use case would be easier to follow up (at least for me..)

[2021-11-25 14:41] pell-je opened #423 "Failed to launch SceneBuilder 17"
Cannot launch SceneBuilder 17

[code]

Clicking on .exe does nothing so I  tried running .jar directly

[2021-11-25 17:12] Oliver-Loeffler commented on #423
Hi @pell-je ,

this is very unfortunate to hear.

SceneBuilder is designed in such way, so that only one instance can run at same time. So if already another version is running, either as standalone or embedded (e.g. in IntelliJ), startup of SB17 will fail. It does not matter which version of SB is running, even a running instance of SB 8.5 or SB11 or SB15 will prevent SB17 from start.

## 1. Can

[2021-11-25 22:45] Oliver-Loeffler opened #424 "Zoom-in/out using keyboard shortcut not working correctly"
SceneBuilder offers key bindings for zooming in `[CTRL]`+`[+]` and out `[CTRL]`+`[/]` in FXML preview.
These are not working on Windows 10 for Scene Builder 17.

### Expected Behavior
While haveing no active selections in Scene Builder editor, pressing `[CTRL]`+`[+]` should result in zoom-in by pre-defined step and pressing `[CTRL]`+`[/]` should result in zooming out.

### Current Behavior

On Win

[2021-12-19 21:32] javasuns opened #425 "CSS Issue on SceneBuilder 17"
I have noticed that although CSS styles are applied on the layout, these are not shown in the right Layout Section of Scene Builder. I am attaching a screenshot to show the difference between Scenebuilder 8 and 17.

![image](https://user-images.githubusercontent.com/13131668/146735155-2529d379-7dac-4d32-b1db-ec654c6d42f8.png)

[2021-12-20 08:26] #425 closed

[2021-12-20 08:27] javasuns opened #426 "CSS Issue on SceneBuilder 17"
CSS Issue on SceneBuilder 17

I have noticed that although CSS styles are applied on the layout, these are not shown in the right Layout Section of Scene Builder. I am attaching a screenshot to show the difference between Scenebuilder 8 and 17.

![image](https://user-images.githubusercontent.com/13131668/146735983-c6f58789-4f14-4b4f-ae65-551c587c4298.png)

[2021-12-30 19:20] HippieStereo commented on #263
Yes I steal have this bug today.

[2022-01-04 23:52] Oliver-Loeffler commented on #306
As the issue has not been solved yet in JavaFX directly, how about adding a work around to Scene Builder?
Would this be acceptable? At this moment, the pasting issue is quite annoying and this kind of seriously impacts usability of SB.

[2022-01-05 18:10] nathanwonnacott opened #428 "Can't add tooltips to custom components"
I've created a custom node which extends stack pane and added a `public void setTooltip(Tooltip t)` method. The tooltip can be set via FXML just fine, but if I try to drag and drop a ToolTip onto it in SceneBuilder, it shows the circle with a line through it icon to indicate that it cannot be added to my node.

I'm guessing that SceneBuilder checks if nodes extend Control to determine if the toolt

[2022-01-05 20:35] alantcote opened #429 "The Properties>Font>Style choices only seem to be able to change anything once in a given session."
When trying to switch to a bold variant of a font (System), it only seems to work the first time in a given session. Thereafter, one can use the UI to try to select a different choice, but it doesn't seem to get applied.

### Expected Behavior

The second and subsequent uses of the mechanism should work as well as the first.

### Current Behavior

### Steps to Reproduce

### Your Environment

###

[2022-01-05 20:40] alantcote opened #430 "Program nearly always starts maximized."
The program nearly always starts up maximized.

### Expected Behavior

It should "remember" the window geometry for the next use, or choose one which isn't so greedy for screen real-estate.

### Current Behavior

The program nearly always starts up maximized.

### Steps to Reproduce

The only thing I've had to do to reproduce the problem is to start up the program.

### Your Environment

I nearly

[2022-01-06 14:35] Oliver-Loeffler commented on #423
@pell-je Hi, any news on this, have you had the chance to run these tests?

[2022-01-06 18:58] Oliver-Loeffler commented on #421
Hi @swiftech ,
I have tested this on macOS Monterey 12.0.1 and failed to reproduce this.
But, I still noticed the following:
1. create or open a fxml file in SceneBuilder and save.
2. modify the file from outside using other tools (like IntelliJ).
3. return back to Scene Builder, the modified file will be reloaded.
4. modify the file outside again.
5. Scene Builder reloaded the file immediately
6.

[2022-01-06 19:51] Oliver-Loeffler commented on #420
Hi @wenbingzhang ,

I can confirm this, this is indeed not working.
Tested on MacOS 12.0.1 Monterey, will try Windows as well.
Have no idea yet on how to proceed, had no luck with the debugger yet but will look into this.

[2022-01-06 20:06] Oliver-Loeffler commented on #394
@abhinayagarwal
I am reviewing this again, will see how we can solve this in a good way.
As Scene Builder and Java are cross platform tools, would think it's a good idea to make the preferred line ending and the way how Scene Builder treats those line endings configurable?

This is what I am thinking about:
1. add preferences to configure the default line ending style for new files
    * option 1:

[2022-01-08 14:01] pell-je commented on #423
Hi sorry I did try but I ended up just downgrading in frustration thanks for detailed response.

[2022-01-08 20:19] AlmasB commented on #307
@abhinayagarwal

How about something like this, I just repurposed one for [FXGL](https://github.com/AlmasB/FXGL/blob/dev/CONTRIBUTING.md)

## How to contribute to scenebuilder

Contribution of any form is welcome! Please see the list below on how you can contribute to the project. Once you've decided what you would like to do, let us know about it first in the Discussions section (**this needs cre

[2022-01-09 08:23] johanvos commented on #307
Good idea. A few remarks:

* code conventions: maybe we can use the same as OpenJFX: https://github.com/openjdk/jfx/blob/master/CONTRIBUTING.md#coding-style-and-testing-guidelines
* Discussions section: would GitHub discussions be ok for this, or do we prefer a mailinglist?
* PR's: I don't think we need long guides, but an important point to stress upfront is that there is more to a PR than just t

[2022-01-09 08:31] AlmasB commented on #307
* code conventions: OpenJFX should do
* My preference GitHub discussions, as they are much more accessible
* PRs: the existing template is fine, perhaps a few extra points if needed. With Code of Conduct I didn't mean a guide for PR, but more of a guidance on general development, [example](https://github.com/AlmasB/FXGL/blob/dev/CODE_OF_CONDUCT.md)

[2022-01-09 09:26] Dalikey commented on #250
Just press alt once and fixed.

[2022-01-09 20:24] Oliver-Loeffler opened #431 "Upgrade Scene Builder Java compiler version to Java 17"
Hi,
I think upgrading the Scene Builder Java compiler options in `POM.xml` can be helpful for future work.
First, Java-17 is the new LTS version and it brings a number of enhancements and language features.
Therefore, I thing upgrading Java compiler version in `POM.xml` from 11 to 17 is a good idea.

How do you think about @abhinayagarwal & @jperedadnr ?

### Expected Behavior

Project uses Java-1

[2022-01-09 21:07] Oliver-Loeffler commented on #123
Hi @abhinayagarwal, I will look into this and see if the problem still exists. If so, I'll try to build up understanding an share this here.

[2022-01-10 10:55] AlmasB commented on #431
This sounds like a good idea to move to latest LTS, but not sure about the implications of that. Can you think of possible issues with this for developers or users?

[2022-01-10 19:00] Oliver-Loeffler commented on #327
This is related to #402, with PR #403 an error message will be shown to the user.
There is the following stack trace then:

[code]

[2022-01-10 20:06] Oliver-Loeffler commented on #327
It seems that the error occurs when the FXOMNormalizer is applied to the FXOMDocument.
Immediately after loading, the FXML text generated by FXOMDocument looks as follows:

After loading the FXML:
[code]

FXML with normalization applied:

[code]

Interestingly the normalization process does not change the FXML text. However, the refresh step causes the exception.

[code]

The FXOMRefresher basical

[2022-01-10 20:11] Oliver-Loeffler commented on #431
I am not sure where and how Scene Builder is used outside. For IDEs, the most common case I've seen was so far that an external Scene Builder was linked and started using the executable. One possible downside would be the compatibility of the JAR with IDEs running on older JVMs.

But here I think, @johanvos has probably a better picture of how and where Scene Builder is used as an embedded compone

[2022-01-10 21:30] johanvos commented on #431
For OpenJFX, we keep the Java version on 11 unless we have a very good reason to increase it, as it would have major implication for developers using JavaFX that can't easily move beyond 11.
The typical users of Scene Builder are not embedding SB, and even if they do, they can still use existing versions.
While I wouldn't just use new features for the sake of the features, I am ok with increasing

[2022-01-11 07:55] w2534073922 opened #434 "Can you add multi-language support"
Perhaps provide a translation reference file that users can edit themselves to update the Scene Builder interface language.
I know this is stupid advice.

[2022-01-11 18:08] #307 closed

[2022-01-11 18:19] Oliver-Loeffler commented on #434
Hi @w2534073922,
internally Scene Builder uses resource bundles for internationalization.
As Scene Builder consists of the Maven modules `kit` and `app`, resource bundles exist for both modules.

For Scene Builder App it is:
`app/src/main/resources/com/oracle/javafx/scenebuilder/app/i18n/SceneBuilderApp.properties`

For Scene Builder Kit it is:
`scenebuilder/kit/src/main/resources/com/oracle/javaf

[2022-01-11 19:27] Oliver-Loeffler commented on #307
Currently we have 2 issue templates, bug and feature request. How about refactorings? If we would like to discuss changes before a PR is started and if we'd like to increase number of tests and test coverage, a refactoring issue template could help.
Or would you go directly ahead with a refactoring PR?

[2022-01-11 20:19] AlmasB commented on #307
Public one-off refactorings tend to lead to long review times, so here a template eventually could be useful.

As for long-term contributors, to expedite the process, at least in the short term, we could agree certain rules, such as refactorings should not affect multiple files or be complex (whatever the definition of this is). As I learn the codebase, most of my PRs in the short term will be sma

[2022-01-11 22:35] Oliver-Loeffler commented on #430
Hi @alantcote,
I am analyzing the issue and learned, that Scene Builder indeed always starts maximized by default. An exception is MacOS, there Scene Builder does not start maximized.

## How it works:
The windows is positioned in `com.oracle.javafx.scenebuilder.app.DocumentWindowController` within the `openWindow()` method. Here a conditional call to `getStage().setMaximized(true)` is placed when

[2022-01-12 07:41] Oliver-Loeffler commented on #14
The namespace preference is a very good idea, this is indeed something which is missing.
Is it currently only the namespace element or does FXML indeed provide already different elements/attributes as per JavaFX version?

@abhinayagarwal This feels like enhancing the FXOM so, that we can once create JavaFX version specific FXML.

[2022-01-12 11:18] alantcote commented on #430
Your proposal sounds good to me.

[2022-01-12 17:11] AlmasB opened #442 "Reduce startup times for improved User Experience"
Currently the majority of startup time is spent on preparing the first DocumentWindowController (~60% of time) and WelcomeDialogWindow (~40% of time).

The goal is to throw everything we have at getting the WelcomeDialog open as fast we as can for snappy UX, related to #440

This can be achieved by the following steps:

- [ ] Do not load anything from the file system for WelcomeDialog
- [ ] Pre-ba

[2022-01-12 19:29] abhinayagarwal commented on #430
My personal preference would be to have an option to toggle this feature from the preferences dialog.

[2022-01-12 21:28] Oliver-Loeffler commented on #442
Very good idea. Did you run benchmarks?

[2022-01-12 21:30] #402 closed

[2022-01-12 21:32] Oliver-Loeffler commented on #430
An option preferences dialog seems like a good idea. It provides a choice to the user.

[2022-01-12 21:33] AlmasB commented on #442
`System.nanoTime()` between suspected costly calls only to get a rough idea. That's where the above values come from.

[2022-01-13 11:20] AlmasB commented on #442
1 and 2 together only provide ~5-10% improvement in speed with quite a lot of drawbacks, since we can't have any resources, meaning no images, no i18n, etc. So trade-off is not good here.

3 ended up being the main bottleneck. This gives ~60% improvement in speed. Please see attached video. On my i9, 6cores, fixed 2.90GHz, startup time improved from 1.9-2.2sec, to 0.7-0.8sec

https://user-images.g

[2022-01-13 12:17] AlmasB opened #445 "Refactor "app" module"
* Remove extra spaces
* Do not return or accept null in public API

[2022-01-13 12:33] AlmasB opened #446 "Development build releases"
It would be beneficial for users to be able to access latest development builds and test them immediately after a merge to `master`. I can see some GitHub actions that generate bundles. Could these be duplicated / extended to upload SNAPSHOT bundles to GitHub or other hosting? @abhinayagarwal

[2022-01-13 13:20] AlmasB opened #448 "Display "register" window elsewhere in the workflow"
### Expected Behavior

Propose to move the register window into "About" menu, or similar, to avoid hindering the user workflow.

### Current Behavior

Currently the register window appears after the WelcomeDialog is hidden at certain intervals

### Context

To maximise user productivity, it is best to avoid any optional blocking / application modal dialogs within the normal workflow.

[2022-01-13 15:23] Oliver-Loeffler opened #449 "Migrate from JUnit 4 to most recent JUnit 5.8+"
The number of tests in Scene Builder is growing.
Many tests can be implemented as parametrized tests, also few tests require multiple assertions.

### Expected Behavior
* test frame work should be easy to use, support lambdas, parametrized tests, extensions etc.
* handling of exceptions

### Current Behavior
* Junit 4 as a very limited support for nice parametrized tests
* Cannot run multiple asse

[2022-01-13 16:15] alantcote commented on #430
Potentially useful if you implement the proposal would be [my Preferences editor](https://github.com/alantcote/PreferencesEditor). It's a bit rough; if you know of a better tool for the purpose, please elucidate.

[2022-01-13 17:22] Oliver-Loeffler commented on #449
Do you prefer one big action to go for JUnit 5 or living with 5 and 4 in parallel?
My preference would be going in one big step (I'm also willing to do this) but still would wait short time until the bigger PRs get squeezed in.

[2022-01-13 17:23] Oliver-Loeffler commented on #446
How about using the Maven Release plugin, to ensure that we always get correct versions? As of now, the main line is still tagged Scene Builder 17.0.0 (no snapshot version this time).

[2022-01-13 17:27] Oliver-Loeffler commented on #446
The Scene Builder releases now work quite well. What I have seen in the issues is, that users like to have a plain app image in a ZIP file and there was also an issue asking for a Snap package. For me this sounds like some work in GH action plus possibly getting JReleaser on board to e.g. build the Snap package.

[2022-01-13 18:38] AlmasB opened #450 "Log duration of key operations"
### Expected Behavior

Log time it took for a key operation in SB workflow, such as startup, fxml loading, opening new window

### Current Behavior

I believe no such fine-tuned time sensitive logging exists at the moment

### Context

Should improve metrics collection for performance optimisations, as there are a few open issues related to performance

[2022-01-13 18:52] AlmasB opened #451 "Standardise commit messages"
In in the long run, it would be beneficial to have a convention for commit messages, so that the changelog over at Releases is generated cleanly.

I propose to add something like this to CONTRIBUTING.md:

## Conventional Commits for Changelogs

The project uses the following commit message guidelines, based on [Conventional Commits 1.0.0](https://www.conventionalcommits.org/en/v1.0.0/):

* **build

[2022-01-13 19:09] Oliver-Loeffler opened #452 "Make use of Welcome Window configurable - enable direct start into Editor"
This feature shall improve the usability of Scene Builder.

### Expected Behavior
The use of the Welcome Dialog shall be optional.
The Welcome Dialog provides access to recent files and to templates.
This is a very welcome feature at first Scene Builder start.

Depending on personal working style, direct start of Scene Builder to Editor Window can be desirable.
No functionality is lost as recent f

[2022-01-13 19:15] Oliver-Loeffler commented on #451
Where would you assign things like header updates to?  `license:` or `header:` ?

[2022-01-13 20:13] AlmasB commented on #452
or perhaps, open most recent project, similar to IntelliJ?

[2022-01-13 20:40] Oliver-Loeffler commented on #452
Well, its also a matter of taste, so this can be also a setting in app preferences.

[2022-01-13 23:22] aalmiray commented on #446
FWIW JReleaser can take care of rolling early access releases as well, matter of fact that's how JReleaser is currently setup for publishing it's own rolling releases. Happy to discuss options to setup SceneBuilder.

[2022-01-14 15:48] AlmasB commented on #446
thanks @aalmiray

Essentially, it'd be nice to have something like:

1. a PR is merged to `master`, which triggers a GH action for snapshot release
2. the release artifacts for each OS get uploaded to somewhere on GH

Any support with this or pointers would be great!

[2022-01-14 16:08] aalmiray commented on #446
I see. You're looking for something like this if that's the case:

https://github.com/kcctl/kcctl/blob/main/.github/workflows/early-access.yml
https://github.com/jreleaser/jreleaser/blob/main/.github/workflows/early-access.yml

Once a push is made to the default branch (regardless of it's form, could be a direct commit, a PR merge, etc) the workflow will start. You'll need to branch execution into

[2022-01-14 16:30] AlmasB commented on #446
There is no rush with this, but if you could provide a draft PR when you have time, that would be a great starting point.

[2022-01-14 16:56] AlmasB opened #453 "Add Code of Conduct"
An adapted version of [Contributor Covenant](https://www.contributor-covenant.org/) should be suitable

[2022-01-14 16:58] AlmasB opened #454 "Update license year to 2022"

[2022-01-14 18:02] AlmasB opened #455 "Define and update issue labels"
There are currently 20 issue labels, of which only a few are used and some are missing descriptions.

Clearly defining and assigning issue labels can help attract new contributors and allow easy sorting of issues. We should try and reduce the total number of labels so that each category stands out, which can help with easy assignment of labels.

Hence, I propose the following labels and definition

[2022-01-14 18:27] Oliver-Loeffler commented on #455
Hi @AlmasB ,
good idea to clean up. Also a very good idea to have such thing like `good first issue`.
However, I think `help wanted` and `question` are valid labels.

For me it is the question, who assigns those labels?
So for `question`, I'd love that we would have an issue template there on. Eventually, this can be replaced by Discussions but so far I personally have no experience with Discussio

[2022-01-15 09:47] Oliver-Loeffler opened #456 "Test FXML Resources not following naming convention"
Ensure that naming of test resources is consistent

### Expected Behavior
Test resources are supposed to be named using CamelCaseNamingConvention.

### Current Behavior
A few FXML files exist in `com.oracle.javafx.scenebuilder.kit.fxom` where underscores are used in file name.

### Solution approach
* Rename test resources
* Adjust related test classes

[2022-01-16 18:17] aalmiray commented on #451
FWIW conventional commits are supported by JReleaser https://jreleaser.org/guide/latest/configuration/release/changelog.html#_conventional_commits

If #458 is accepted and merged it would be trivial to configure CC.

[2022-01-16 19:08] aalmiray commented on #446
@AlmasB done. Have a look at #458 whenever you have some time and let me know if any adjustments should be made.

[2022-01-16 21:07] Oliver-Loeffler commented on #451
This is a pretty cool feature, didn't know about that. This could ease up the release process a lot.

[2022-01-16 21:20] aalmiray commented on #451
More over CC can be checked and enforced. jbangdev/jbang has configuration applied via a bot that can check if commits from a PR follow CC.

Looping in @maxandersen

[2022-01-16 21:41] Oliver-Loeffler opened #459 "User confirmation dialog to decide whether to save a file has lacks title and icon"
All Scene Builder dialogs and windows have a common icon.
Windows and dialogs usually have a name.

### Expected Behavior
The dialog where the user is asked to save a file should show the Scene Builder icon.
The dialog should have a name such as "Scene Builder".

### Current Behavior
The dialog has only the standard icon provided by platform.

### Steps to Reproduce
* Open Scene Builder
* Create a

[2022-01-17 13:36] AlmasB commented on #451
@aalmiray That's great! So if I understand correctly:

When a maintainer manually releases the next version via the GH action from #458, JReleaser can be configured to collate commits since last version and embed into the .md with the release?

[2022-01-17 13:43] aalmiray commented on #451
Yes, that is exactly what happens.

[2022-01-17 17:22] #404 closed

[2022-01-17 20:26] AlmasB opened #461 "Design and develop "plugins" module to allow embedding 3rd party JavaFX controls"
### Expected Behavior

Developers are able to embed popular JavaFX controls into SB as a separate module, i.e. not inside `app` or `kit`.

### Current Behavior

Only `app` and `kit` modules are present.

### Context

There is demonstrable evidence of popularity of this feature in the community

[2022-01-17 20:28] AlmasB commented on #461
Not a short-term goal but adding this here so ideas can be generated over time. In addition, creates a space for users and developers to keep track of the development of 3rd party controls integration.

[2022-01-17 23:37] eugener commented on #461
I was under impression that SceneBuilder is already able to import 3rd-party custom controls with Library Manager.

<img src="https://user-images.githubusercontent.com/341840/149847634-3f64655b-a8e0-4154-8bd3-401aa7062d4f.png" width=600>

[2022-01-18 08:00] AlmasB commented on #461
If I understand correctly, based on issues and open PRs, the idea is that
SB _ships_ with these custom controls, available for use out of the box,
without imports.

On Mon, 17 Jan 2022, 11:37 pm Eugene Ryzhikov, ***@***.***>
wrote:

[2022-01-18 11:12] Oliver-Loeffler commented on #461
Well, essentially its also that foreign controls provide properties which are unknown to Scene Builder.
The Scene Builder inspector offers nice editors to properties which are known (vie MetaData). External controls may have specific properties, as shown in PR #229.

If you're the autor of a control, how can you tell Scene Builder about some specific properties you'd like to expose for editing?

[2022-01-19 13:12] #58 closed

[2022-01-19 13:43] AlmasB opened #463 "Welcome dialog should remain open when open project dialog is cancelled"
See discussion in #447 for more details

[2022-01-19 14:52] semir1121 opened #464 "Error Failed to start Scenebuilder"
### Expected Behavior
Hey guys i downloaded Scenebuilder and linked the path from intellij to the application but it doesnt work for me. I can open the Application by itself but I cannot open it in Intellij

### Current Behavior

### Steps to Reproduce

### Your Environment
IntelliJ

### Screenshots
![image](https://user-images.githubusercontent.com/98037048/150155052-0da79213-d5f1-4151-923c-9eeff

[2022-01-19 16:07] Oliver-Loeffler commented on #464
Hi @semir1121,

please try to change the Scene Builder Path in IntelliJ to this one: `C:\Users\<yourusername>\AppData\Local\SceneBuilder\SceneBuilder.exe`

The reason why this error occurs might be that using the link (`*.lnk` on Windows) together with an FXML file might fail.

[2022-01-19 16:18] semir1121 commented on #464
hey oliver,

thank you a lot it worked now

[2022-01-19 16:21] Oliver-Loeffler commented on #464
Hi, happy to hear, thus we can close the issue!

[2022-01-19 16:38] #464 closed

[2022-01-20 17:34] Oliver-Loeffler opened #468 "Documentation outdated"
The documentation available at https://docs.gluonhq.com/scenebuilder is outdated and not partially not rendered completely.
Images are linked but not shown in the browser.

### Expected Behavior
* Documentation should match with most recent Scene Builder version
* Ideally documentation of older versions is also avaliable with a modified URL (e.g. https://docs.gluonhq.com/scenebuilder/16/ )
* Docum

[2022-01-20 17:36] AlmasB opened #469 "Move SceneBuilderTest from production package to test package"
### Discussed in https://github.com/gluonhq/scenebuilder/discussions/437

<div type='discussions-op-text'>

<sup>Originally posted by **AlmasB** January 12, 2022</sup>
It seems SceneBuilderTest is a manual system test as the IDE reports no usages of it in the production package of `app`. If so, would it make more sense to move this to the test package?</div>

[2022-01-21 06:46] #456 closed

[2022-01-21 07:52] abhinayagarwal commented on #357
I missed the pings. In this case, adding the VM argument `-Dprism.verbose=true` can help us with extra logging related to rendering failures.

[2022-01-21 08:14] gargoyle commented on #430
Would it be simpler (from both code and UX) to just remember the maximised state along with the window geometry instead of having to go and hunt down a preference option?

[2022-01-21 08:47] AlmasB opened #470 "Add menu item to show welcome dialog"
See https://github.com/gluonhq/scenebuilder/pull/447#issuecomment-1017974430

[2022-01-21 10:54] #339 closed

[2022-01-21 12:06] jperedadnr opened #472 "Remove Jcenter repository"
Jcenter is included as an option in Manage Repositories, but it should be removed.

[2022-01-21 12:41] AlmasB commented on #445
Also see https://github.com/gluonhq/scenebuilder/pull/447#issuecomment-1018467882

[2022-01-21 12:45] AlmasB opened #473 "Extract app controlling functionality from SBApp into AppController"
SBApp has grown beyond its own responsibility of just starting the application. Currently it also manages various operations and controls related to windows and files, which can be extracted into AppController or similar.

[2022-01-21 13:00] AlmasB commented on #452
You are right, I think the preferences data should be discussed and figured out early. To improve UX we will provide various options and they need a place to live. Perhaps worth opening a discussion post.

As far as this issue is concerned, I'm happy to implement the following:

When checked, the Welcome Dialog shall be presented at program start.
When unchecked, Scene Builder shall directly start

[2022-01-21 13:18] AlmasB opened #475 "Improve Welcome UX"
Currently, "new" and "open" are implemented as radio buttons, with "new" being redundant since the new projects list is always visible. Hence,

- [ ] Remove "new" button for clearer UX
- [ ] Turn "open" into a normal button
- [ ] The window should not be resizable beyond its min size of contents
- [ ] There is a subtle focus issue (see beginning of video) due to ScrollPane (both left and center pa

[2022-01-21 13:21] alantcote commented on #430
Sample code for window geometry memory may be found at https://github.com/alantcote/dupfilefinder2/blob/main/dupfilefinder2/src/main/java/cotelab/dupfilefinder2/WindowPrefs.java

[2022-01-21 13:51] AlmasB commented on #133
There is not enough information to reproduce or verify this, hence this is closed.

[2022-01-21 13:51] #133 closed

[2022-01-21 14:01] AlmasB commented on #274
Reproduced on Windows 10 with latest SB build:

[code]

[2022-01-21 14:06] AlmasB commented on #251
Thanks... if this is still an issue for you, please could you provide the actual steps to reproduce.

[2022-01-21 14:13] AlmasB commented on #244
This definitely causes an issue as the container is probably stretched to facilitate this change. More generally, as this is likely to affect any other such input, perhaps a warning should be displayed to the user if the entered value is extreme.

[2022-01-21 14:42] Oliver-Loeffler commented on #472
If you like, you can review PR #476 for this. I've removed the JCenter repository from repository manager and consequently also removed the related JCenter search class.

[2022-01-21 16:45] AlmasB commented on #62
This is a duplicate of #388 hence this instance is closed.

[2022-01-21 16:45] #62 closed

[2022-01-21 16:53] AlmasB commented on #323
@jan-tosovsky-cz please can you update us on whether this issue is resolved with newer versions of Scene Builder, thanks.

[2022-01-21 17:22] Oliver-Loeffler commented on #452
If you consider this change already for Scene Builder 18, a few additional settings will fit on the Preferences dialog.
But for Scene Builder 19 we definitely need a rework of this.

[2022-01-21 17:56] AlmasB commented on #452
Ideally, I'd like to get this and #475 done before the next release. I assume SB follows javafx release cycles? Then we have a bit of time before 18.

[2022-01-21 19:11] gargoyle commented on #448
I'm happy to have a stab as this one. We need to do anything regarding assigning issues?

[2022-01-21 20:10] Oliver-Loeffler commented on #449
Hi @AlmasB, I've prepared 2 PRs for the JUnit5 migration.
I've kept Junit 4 still alive as there are other pending PRs which may rely on JUnit 4.

Depending on your judgement, we can also remove JUnit 4 completely and ask for rework for the pending PRs.
Otherwise, I'll rework the remaining tests.

[2022-01-21 20:28] Oliver-Loeffler commented on #475
If you agree, I'd prepare the preferences elements. In PR #396 I've already a testable version for the preferences construct. So I'd prepare a PR where we can get all the preferences related things tested.

[2022-01-21 20:46] Oliver-Loeffler commented on #251
@AlmasB May be #37 is related. With what is stated in #37 we probably can create a test case.

[2022-01-21 21:09] AlmasB commented on #448
Nice, go for it 👍

[2022-01-22 20:18] #400 closed

[2022-01-22 20:30] #459 closed

[2022-01-23 12:44] #472 closed

[2022-01-23 13:06] Oliver-Loeffler opened #485 "Provide .editorconfig in project to ensure consistent formatting"
Scene Builder code follows a certain formatting style. E.g. spaces are preferred over tabs.
Add a notice either to README.md or to CONTRIBUTING.md, that Netbeans, Eclipse and VSCode require a plugin and IntelliJ does not. Add a link to https://editorconfig.org/.

### Expected Behavior
When Scene Builder project is opened in IDE, code formatting rules and styles are imported from .editorconfig.
Let

[2022-01-23 14:32] gargoyle commented on #470
I'd be happy to have a stab at this one too if you're happy with my other PR (I think I'm starting to get the hang of it).

[2022-01-23 15:14] Oliver-Loeffler commented on #470
Go for it, I'll stay away from this.

[2022-01-23 17:10] #448 closed

[2022-01-23 17:21] Oliver-Loeffler commented on #431
After rethinking this I've limited the scope of the change as proposed in PR #432 to the app module.
This will help to evolve the app further but keep the kit working in Java-11 environments.

[2022-01-23 17:52] AlmasB commented on #445
See https://github.com/gluonhq/scenebuilder/pull/447#discussion_r784180068

[2022-01-23 20:33] AlmasB commented on #445
See https://github.com/gluonhq/scenebuilder/pull/447#issuecomment-1019550378

[2022-01-23 20:44] AlmasB opened #489 "Update dialog should be extracted into a non-intrusive notification"
### Expected Behavior

Update notification is shown elsewhere in the SB workflow

### Current Behavior

Update dialog is shown if necessary at the end of welcome dialog workflow

### Context

[2022-01-24 09:37] gargoyle commented on #470
I've opened a draft PR (https://github.com/gluonhq/scenebuilder/pull/490) for the main changes to get the welcome screen to re-display, and generally it works OK with recent files opening new main Scene Builder document windows.

However, I need to figure out how to handle the following issues:-

1. Choosing to open a new empty document seems to do nothing.
2. Choosing any of the other starter tem

[2022-01-24 09:41] maxandersen commented on #451
fyi, what I use is https://github.com/apps/semantic-pull-requests

[2022-01-24 12:11] AlmasB opened #491 "Blank window appearing briefly"
On windows I don't have custom controls, and the blank window is quite visible: (see at 0:05)

https://user-images.githubusercontent.com/2043230/150773134-f76452bb-7d19-4061-9118-b27e5907b834.mov

_Originally posted by @jperedadnr in https://github.com/gluonhq/scenebuilder/issues/447#issuecomment-1019989876_

[2022-01-24 12:18] AlmasB opened #492 "A follow-up issue to get the translations for "loading components...""
Add a todo or a follow-up issue to get the translations for this.

_Originally posted by @jperedadnr in https://github.com/gluonhq/scenebuilder/pull/447#discussion_r790543101_

[2022-01-24 13:09] eugener commented on #492
As and idea... in ControlsFX we use Transifex to automate translation process.
See https://controlsfx.github.io/translations/transifex/ for more info.

[2022-01-24 13:12] AlmasB commented on #492
That looks like a neat way to localise text going forward!

[2022-01-24 21:42] gargoyle commented on #470
I've resolved the issues above and PR is ready for review.

[2022-01-25 14:37] jan-tosovsky-cz commented on #323
@AlmasB I've just tried 17.0.0 and it works like a charm.

[2022-01-25 16:59] AlmasB commented on #323
Brilliant, thanks!

[2022-01-25 16:59] #323 closed

[2022-01-25 17:18] AlmasB commented on #272
Initial steps to be implemented as part of #458

[2022-01-25 17:19] AlmasB commented on #260
A newer #272 duplicate is open and will be monitored, initial steps to distribute as a snap package are being completed in #458

This issue is now closed.

[2022-01-25 17:19] #260 closed

[2022-01-25 17:31] AlmasB commented on #39
@abhinayagarwal @Oliver-Loeffler

Does SB support high-contrast themes now? If not, I'd like to close this and reopen as a new issue to move to the top of the list to make the UI easier to use for those who need this.

[2022-01-25 17:58] AlmasB commented on #83
Possibly related to #235

[2022-01-25 18:01] AlmasB commented on #78
@Oliver-Loeffler I've seen some menu bar related code that seems to do something specific on Mac OS. Is this issue still relevant?

[2022-01-25 19:06] Oliver-Loeffler commented on #39
SceneBuilder only offers 2 themes for the application itself, the Default theme and the Dark theme.
For FXML editing and previews Scene Builder offers multiple styles, including at least 2 high contrast themes.
However, both high contrast themes look weird to me, as one only can distinguish text, no shapes.

So Modena and Caspian themes work well, also the Gluon ones with exception to all offered

[2022-01-25 19:11] Oliver-Loeffler commented on #78
@AlmasB I will review this. The code which is there is probably not related to this item, but give me some time to investigate. Please assign this one to me.

[2022-01-25 19:58] AlmasB commented on #78
Now that we identified this is a valid issue, I suppose the question is whether we actually wish to support it and if yes, whether the work required is justified compared to advantages.

[2022-01-25 20:09] AlmasB commented on #144
This seems to be a very specific issue, which is difficult to reproduce given multiple unrelated factors. As a general solution, autosave support should help, for which #81 is an open issue. Hence this issue is closed.

[2022-01-25 20:09] #144 closed

[2022-01-25 22:41] Oliver-Loeffler commented on #78
Depending on how we approach this, the work can be significant. But there was a solution proposed and I'll look into that.
IMHO the advantage is quite small in terms what changes. However, Scene Builder would better integrate with MacOS. Hence the question to @jperedadnr if JavaFX already provides a way to address the application menu. Using the system menu works but theres a convention on MacOS w

[2022-01-26 07:43] abhinayagarwal commented on #376
Tests seems to be running well on GIthub Actions with latest code, but the same fail on my local windows machine. @Oliver-Loeffler Have you faced this issue recently?

[2022-01-26 12:17] leewyatt opened #497 "Add a copy function for ColorPicker"
I made a short video presentation:   https://youtu.be/_rfFx7NeQQE
After the color picker selects the color, click the copy button can copy the Java code or CSS code of the color

### Expected Behavior

After the color picker selects the color, click the copy button, and we can get the CSS code or Java code of the current color;

### Current Behavior

For example, gradient can only generate corresp

[2022-01-26 16:05] #446 closed

[2022-01-26 17:31] Oliver-Loeffler commented on #376
Hi @abhinayagarwal , no, I haven't faced this issue recently. The issue should not occur, when you clone Scene Builder from Github freshly. Nevertheless, in recent past I figured out to avoid conflicts with Git line ending behavior.
In fact, it's better to replace line endings in test case files  after loading with what is expected and override what was checked in or what Git provides.

But to get

[2022-01-26 18:09] abhinayagarwal opened #499 "Workflow failing with rolling releases"
With recent merge of PR https://github.com/gluonhq/scenebuilder/pull/458 , the workflows are failing.

[2022-01-26 18:29] AlmasB commented on #499
After #498 the failures seem to be on Windows and Mac, related to signing packages. Linux seems fine.

https://github.com/gluonhq/scenebuilder/actions/runs/1752375800

[2022-01-26 18:41] abhinayagarwal commented on #499
I will have a look at signing tomorrow. Thanks for the quick fix on the workflows @aalmiray .

[2022-01-26 19:57] aalmiray commented on #499
I wonder if it has something do with using all caps for the secret names passed to the reusable workflows.
I've got another reusable workflow working but the secrets are lowercase + kebab case.

[2022-01-27 13:05] #499 closed

[2022-01-27 13:14] aalmiray commented on #499
It's live!
https://github.com/gluonhq/scenebuilder/actions/runs/1756336012

https://github.com/gluonhq/scenebuilder/releases/tag/early-access

[2022-01-27 15:31] abhinayagarwal commented on #451
I am good to go with this proposal and have added sematic-pull-requests app to Scene Builder.

[2022-01-27 17:26] leewyatt opened #503 "CSS Error parsing Warning may be thrown"
Control: Color Picker.
CSS warning may be thrown when the value of the alpha is a decimals stored in scientific notation;

### Expected Behavior

Alpha values should be rounded.

### Current Behavior

For example, alpha value is 7.552884496591084E-4
e.g.  :  The console will output:

### Steps to Reproduce

Write an app, use colorpicker, drag the slider several times to adjust the value of alpha,

[2022-01-28 07:03] abhinayagarwal commented on #497
I watched the video. This seems to be a very useful feature 👍

[2022-01-28 07:19] leewyatt commented on #497
Thank you, ColorPicker/PaintPcker of SceneBuilder is already very powerful, we should make full use of it;

[2022-01-28 07:50] abhinayagarwal commented on #376
Hi @Oliver-Loeffler ,

Fresh clone did the trick. Thanks a ton 👍

[2022-01-28 13:02] AlmasB opened #505 "Clarify means of testing early access versions"
I suppose the first thing to do is to ensure that with every commit to master, a new pre-release is generated but the link (currently https://github.com/gluonhq/scenebuilder/releases/tag/early-access) remains the same. I've tested the link visibility without being signed in, which is great -- anyone can click the link and download the updated package (I've also run the windows package and it insta

[2022-01-28 13:04] AlmasB opened #506 "Develop a workflow for user testing SB builds based on a PR before merge"
At some point we could somehow enable the same mechanism to build PRs for testing before they get merged (to test major changes or new features before merging).

_Originally posted by @jperedadnr in https://github.com/gluonhq/scenebuilder/discussions/494#discussioncomment-2065629_

[2022-01-28 20:30] gargoyle opened #507 "Inconsistent background on "Modal" windows."
Most of the modal/dialog windows have the standard "off white" background. For example, this "Sample Skeleton" one:-
![image](https://user-images.githubusercontent.com/437990/151616363-350d2de2-24bd-43ed-b62b-6cc5ddf75d63.png)

However, the "about" and "register" ones have a pure white background. IMO this makes it look like they are not rendering properly and some strange bug is happening.

### E

[2022-01-30 12:06] cbm64chris opened #511 "SceneBuilder Preferences"
I want to recent everything about SceneBuilder and begin from scratch to validate if an issue exists in reference the fx:include FXML property on macOS.

* Deleted /Application/SceneBuilder.app
* Deleted ~/.scenebuilder
* Deleted ~/Library/Preferences/com.oracle.javafx.plist
* Deleted ~/Library/Preferences/com.gluonhq.scenebuilder.plist
* Deleted ~/Library/Application\ Support\Scene\ Builder

The

[2022-01-30 12:09] cbm64chris commented on #511
Ok, sorry....inevitably it cleared the history straight after I posted this! Typical!

[2022-01-30 12:09] #511 closed

[2022-02-02 17:35] pythonSux opened #512 "Can't open fxml that contains "fx:include""
SceneBuilder fails to to open fxml files that contain an “fx:include” tag, which is used to nest different fxml files.

[code]

This code is completely valid and runs fine with JavaFx 16, but SceneBuilder can’t open the fxml unless I remove the line.

[2022-02-04 18:04] #451 closed

[2022-02-04 18:33] #469 closed

[2022-02-04 18:56] AlmasB commented on #499
@abhinayagarwal windows signing started to fail again, please can you check when around

[2022-02-05 09:35] Oliver-Loeffler commented on #512
Hi @pythonSux,

SceneBuilder should be able to handle includes. To investigate the issue, can you pleas provide the content of the mentioned `canvas.fxml` file? I'd like to investigate the issue.
It would really be helpful if you could attach both FXML files.

[2022-02-06 17:06] AlmasB opened #514 "Replace "null" with empty template file"
Currently the template enum is:

[code]

It seems just adding Empty.fxml with no contents should allow removing all null checks related to templates and fall into the standard execution flow.

[2022-02-06 18:16] #507 closed

[2022-02-07 10:46] #449 closed

[2022-02-07 13:15] #454 closed

[2022-02-09 20:08] pythonSux commented on #512
https://hatebin.com/inbqtbtdcm

this is the one that gets included:
https://hatebin.com/urpfwvtbrb

I have it separately so I can use a different controller class and don't have to stuff all the event handlers into one class

[2022-02-09 20:47] Oliver-Loeffler commented on #512
Thanks, I'll play with it and see what I can do.

[2022-02-10 13:05] abhinayagarwal commented on #431
@Oliver-Loeffler I still think there is not much to gain from this transition atm. It would be better to keep this for the future and move to Java 17 when both kit and app can move together.

@AlmasB @jperedadnr Thoughts on this?

[2022-02-10 13:53] AlmasB commented on #431
Based on @johanvos comment above, it seems there are no significant issues with upgrading both modules to 17. The next LTS won't arrive for some time and there isn't really an obvious cut-off point for when the switch should take place. If that's the case, we might as well switch both now.

[2022-02-11 12:16] johanvos commented on #431
+1 for moving now to Java 17

[2022-02-12 13:01] curyfernando commented on #80
Looking forward this enhancement adoption.

[2022-02-16 17:05] #442 closed

[2022-02-16 17:05] #463 closed

[2022-02-18 16:33] #470 closed

[2022-02-18 17:10] #497 closed

[2022-02-18 17:10] #503 closed

[2022-02-20 10:12] geekarist commented on #332
It seems related to the following JDK bugs:
- [[JDK-8090647] Mnemonics : on windows we should cancel the underscore latch when an app loses focus. - Java Bug System](https://bugs.openjdk.java.net/browse/JDK-8090647)
- [[JDK-8119000] Menu mnemonics 'stick' on Windows 7 - Java Bug System](https://bugs.openjdk.java.net/browse/JDK-8119000)

[2022-02-20 10:13] geekarist commented on #250
It seems related to the following JDK bugs:
- [[JDK-8090647] Mnemonics : on windows we should cancel the underscore latch when an app loses focus. - Java Bug System](https://bugs.openjdk.java.net/browse/JDK-8090647)
- [[JDK-8119000] Menu mnemonics 'stick' on Windows 7 - Java Bug System](https://bugs.openjdk.java.net/browse/JDK-8119000)

[2022-02-20 11:14] gargoyle commented on #489
For the "It also seems the Check for Updates... menu item crashes", are you referring to every now and again it just doesn't seem to do anything?

[2022-02-20 12:01] gargoyle commented on #489
I found that the if/else code branch when version was up-to-date was not wrapping the call to display the alert in `Platform.runLater()` - So I've pushed a quick fix for that [here](https://github.com/gargoyle/scenebuilder/blob/issue-489/app/src/main/java/com/oracle/javafx/scenebuilder/app/SceneBuilderApp.java#L994)

Do you want to take that as a separate fix?

Otherwise, given this is an enhancem

[2022-02-20 12:29] AlmasB commented on #489
For this issue, fixing the above two check boxes is sufficient. Visually, I'd probably go for a red dot / circle near "Update" in the menu bar to indicate that an update is available.

About and update dialogs should probably stay separate.

As for refactoring, I'm in the middle of #473 so don't worry too much about the architecture of existing code -- it will be updated.

[2022-02-20 12:48] gargoyle commented on #489
OK. I see what I can do to add a visual indicator.

[2022-02-20 16:51] AlmasB opened #520 "Early-access changelog is empty"
Currently the early-access release: https://github.com/gluonhq/scenebuilder/releases/tag/early-access

has empty changelog.

The configuration params from #462 should fix it.

[2022-02-20 17:11] #514 closed

[2022-02-22 12:43] AlmasB commented on #235
@jperedadnr could you point me to where I would get the `TabPane` from (I assume there is some scene graph object)?

[2022-02-22 19:45] jperedadnr commented on #235
This is how you can reproduce the issue:

- Open SB, new empty template
- Drag a TabPane from Containers
- Drag a Tab from Containers into the TabPane. It seems nothing happens and the tab is added. However, if you click on the added tab you see it doesn't get selected. Only after clicking the other tabs, you can go back and select it.

Now if you open the logs you'll find out the reason:

[code]

[2022-02-23 14:38] AlmasB commented on #235
[code]

solves the NPE, but I don't know where to start on the selection issue

[2022-02-27 19:01] gargoyle commented on #429
I can't replicate this.

From a new project, I added a `Pane` then a `Label` in the pane. I can change the font, it's weight, etc repeatedly.

[2022-03-02 04:42] pengzexuan2001 commented on #367
M1上确实太卡了，简易可以考虑出一个M1版本😂

[2022-03-02 04:43] pengzexuan2001 commented on #367
M1上确实太卡了，简易可以考虑出一个M1版本😂

[2022-03-03 12:07] AlmasB opened #526 "All calls to System.out/err and printStackTrace() should be replaced with appropriate Logger"

[2022-03-09 20:12] #431 closed

[2022-03-21 08:55] johanvos opened #529 "Bump JavaFX version to 18"
Now that JavaFX 18 is released, we need to change the dependency from 18-ea+12 to 18.

[2022-03-21 12:30] #529 closed

[2022-03-25 17:11] mrlimbic commented on #347
I had problems with broken font & weird text coloration with my own app in recent versions of Mac OS.

It happens on my mac mini with HDMI connected monitor since Big Sur and is probably a bug in javafx.

Starting my app with "-Dfile.encoding=UTF-8 -Dprism.lcdtext=false" improves the text.

Not a perfect solution as text looks less smooth but it does fix the coloration & missing pieces. So is more

[2022-03-26 18:05] HiouaniHalim opened #532 "Error Custom StyleableProperty In SceneBuilder"
### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screenshots

Welcome
I encountered a problem while creating a custom property in scene builder where I can't get this property, so please give me a solution to this problem as soon as possible if possible
You can watch this picture in order to understand what I want to say
Currently this property
![bandi

[2022-03-26 18:16] HiouaniHalim commented on #532
@aalmiray Can you help me please for this problem ?

[2022-03-26 18:18] aalmiray commented on #532
@HiouaniHalim I'll advise you to ask @abhinayagarwal or @AlmasB as they take care of this project, not me.

[2022-03-26 18:38] HiouaniHalim commented on #532
@abhinayagarwal thanks

[2022-03-28 10:47] jperedadnr opened #533 "Use workflow to use Java/JavaFX 18"

[2022-03-28 12:05] jperedadnr opened #535 "Set 18.0.0 version for release"

[2022-03-28 12:29] jperedadnr opened #537 "Don't remove `-SNAPSHOT` for release"
The release workflow works with the `-SNAPSHOT` version, and already [removes](https://github.com/gluonhq/scenebuilder/blob/sb18/.github/workflows/release.yml#L40) it.
However, it fails if there's no `SNAPSHOT`:
[code]

### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screenshots

[2022-03-28 12:51] jperedadnr opened #539 "Release from branch should use the branch workflow"
The release workflow uses the different workflows from master:
[code]

but it should use the branch.

### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screenshots

[2022-03-28 13:23] jperedadnr commented on #533
Fixed with #534

[2022-03-28 13:23] #533 closed

[2022-03-28 13:23] jperedadnr commented on #537
Fixed

[2022-03-28 13:23] #537 closed

[2022-03-28 13:24] jperedadnr commented on #539
Fixed with #540

[2022-03-28 13:24] #539 closed

[2022-03-28 13:25] jperedadnr opened #541 "Update workflows to use Java/JavaFX 18"

[2022-03-28 15:16] jperedadnr opened #543 "Rollback change in sb18"
once #542 is merged, release can be done from `sb18`

[2022-03-28 15:37] jperedadnr commented on #543
fixed with #544

[2022-03-28 15:37] #543 closed

[2022-03-28 21:16] brunogptavares commented on #347
@mrlimbic It really must be a javafx bug, looks like it's resolved with javafx 18, at least the font looks better in my app.

[2022-03-28 22:19] mrlimbic commented on #347
I'll check if 18 solves it. The problem with this bug is it depends a lot on the monitor hardware you are using. It doesn't apply to all displays.

I know it still happens with latest 17 but not on every machine. Anyway the workaround is easy. Just turn off LCD text rendering.

[2022-03-29 16:25] #541 closed

[2022-03-30 09:09] dwhitla commented on #170
Doesn't work on MacOS either

[2022-03-30 15:47] jperedadnr opened #546 "Release workflow failure"
https://github.com/gluonhq/scenebuilder/runs/5754075429?check_suite_focus=true#step:6:75

Master branch is protected.

### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

### Screenshots

[2022-03-30 19:14] #546 closed

[2022-04-01 08:19] jperedadnr commented on #367
@wanghongfei Scene Builder 18.0.0 has just been released, and you can find an installer for M1: https://github.com/gluonhq/scenebuilder/releases/tag/18.0.0

[2022-04-01 08:19] #367 closed

[2022-04-01 14:04] Siedlerchr commented on #367
@jperedadnr  Could you please elaborate how you did this? We are also using jpackage to build our app for mac. Is there a trick to build this on an intel machine or do I need an M1 mac for this?

[2022-04-01 14:46] jperedadnr commented on #367
I've just built it on an M1

You can do it with the proper JDK, JavaFX, [jmods](https://download2.gluonhq.com/openjfx/18/openjfx-18_osx-aarch64_bin-jmods.zip) for aarch64, running `mvn clean package` and then the script https://github.com/gluonhq/scenebuilder/blob/master/.github/scripts/jpackage.sh

I haven't tested doing it cross platform (from Intel, using the proper JDK, JavaFX, jmods for aarch

[2022-04-01 14:53] jperedadnr opened #552 "build: workflow to build Scene Builder for M1"
Given that GitHub doesn't currently have runners for macOS AArch64, it is possible to use a self-hosted runner, installed on an M1, to build Scene Builder from the usual workflow, in order to have early access versions or releases.

In this case, it should just be a matter of adding the necessary changes in the workflow to include a new platform.

The only concern is the availability of the self-h

[2022-04-01 15:40] AlmasB commented on #552
If it is not expected to be online 24/7, perhaps we could have a manually triggered workflow (like `release.yml`) for this. There is no need for us to produce EA builds for M1 for every commit, only for selected major changes.

[2022-04-01 16:03] aalmiray commented on #552
Additional settings in `pom.xml` would be needed to handle the extra artifact with JReleaser. This should be done with a profile to override the "default" behavior.

[2022-04-02 10:47] Siedlerchr commented on #367
Thanks a lot for the insights. Unfortunately my own Macbook is also an Intel one.

[2022-04-02 11:07] jperedadnr commented on #367
We'll be adding regular M1 builds to Scene Builder as part of https://github.com/gluonhq/scenebuilder/issues/552, using a self-hosted runner.

[2022-04-05 19:08] pnahay opened #553 "Version 18.0.0 bug."
Product Version
JavaFX Scene Builder 18.0.0

Build Information
Version 18.0.0
Date: 2022-03-31 20:20:30
JavaFX Version: 18
Java Version: 17, OpenJDK Runtime Environment

### Expected Behavior

Ctrl+P should invoke menu command "Show Preview in Window".

### Current Behavior

Ctrl+P does nothing.

### Steps to Reproduce

Invoke Ctrl+P.

### Your Environment

Windows 10.

### Screenshots

[2022-04-09 12:06] Alfred-Ashin opened #554 "Navigation bar shortcut key bug"
Hello Dr. AlmasB, can you cancel the shortcut keys of the navigation bar. When searching for components, the shortcut keys of the navigation bar are often triggered, which is very annoying; for example, when I want to search for the StackPane component, when I enter the letter a It will trigger the Arrange navigation bar; input I when entering ImageView will trigger the Insert navigation bar; it m

[2022-04-10 15:09] brunogptavares commented on #347
This problem does not occur in Scene Builder 18.0.0.

[2022-04-10 15:09] #347 closed

[2022-04-30 10:23] GregorGott opened #556 ""Double paste" when pasting in text field"
When you paste something (e.g. a fx:id) in a text field it is pasted twice.

### Expected Behavior
Example: I copy a text e.g. "okButton" and paste it into the fx:id field I expect that in the text field now should stand "okButton".

### Current Behavior
Let's use the same example with the okButton. When I paste "okButton" into the text field it does not say "okButton" but "okButtonokButton".

###

[2022-05-05 00:24] xialote commented on #554
I also encountered this problem, often triggered the navigation bar shortcut keys, resulting in query, modify control properties input difficulties.

[2022-05-07 04:10] iKatsuo commented on #250
Any updates about it?
I'm using the latest version of SceneBuilder 18.0.0 and I'm still having the same issue...

[2022-06-07 07:15] RobinDenaux commented on #170
Still not working on windows 10 :

Product Version
JavaFX Scene Builder 18.0.0

Build Information
Version 18.0.0
Date: 2022-03-31 20:20:30
JavaFX Version: 18
Java Version: 17, OpenJDK Runtime Environment

JavaFX
18

Java
18, OpenJDK Runtime Environment

Java Library Path(s):

Missing or invalid Java Library Path(s):
	runtime\bin
	runtime\lib

Operating System
Windows 10, amd64, 10.0

[2022-07-23 04:30] Snowfox07 commented on #250
pressing ALT key will temporarily fix it

[2022-08-06 11:31] batashi opened #557 "Couldn't Build in Fedora 36"
Hi Team, Thanks for your great tool.

I am trying to build this locally on my machine to setup a flatpak version of scenebuilder.
I'm facing the below error when I run first maven command
`mvn clean package`

Aug 06, 2022 3:26:35 PM com.oracle.javafx.scenebuilder.kit.skeleton.SkeletonFileWriter logErrorAndNotifyUser
SEVERE: Could not write controller skeleton to file: /notExisting/share/test.java

[2022-08-06 14:07] Oliver-Loeffler commented on #557
Hello @batashi,

thanks for issuing this. I will look into this and will see to solve this issue.

Regards!

[2022-08-06 14:25] Oliver-Loeffler commented on #557
@AlmasB Could you please assign this one to me?

[2022-08-06 15:53] batashi commented on #557
Thanks forthe  prompt replay @Oliver-Loeffler
Below is the output of  `git config --list`
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.url=https://github.com/gluonhq/scenebuilder.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
branch.master.remote=origin
branch.master.merge=refs/heads/master
branch.sb17.remote=origin
branch.

[2022-08-07 15:08] Hussin22 opened #558 "JFXTABPANE NOT add to my design"
i try to add JFXTABPANE component to my design but it not imported k i try to uninstall my scene builder version but the same happen
### Expected Behavior

### Current Behavior

### Steps to Reproduce

### Your Environment

i use :
JavaFX Scene Builder 18.0.0

Build Information
Version 18.0.0
Date: 2022-03-31 20:20:30
JavaFX Version: 18
Java Version: 17, OpenJDK Runtime Environment

and last versi

[2022-08-12 15:23] batashi opened #559 "Flatpak build"
Currently, there is an ongoing [flatpak](https://flatpak.org/) version [build](https://github.com/flathub/flathub/pull/3402) in the final stages. It was generated from this project released binary.
Flatpak is important because it's Linux distro agnostic packaging, and able to run on any distro without need to have another special build.

I suggest maintaining it under this project to be more linke

[2022-08-15 05:23] bambuo opened #560 "I hope the interactive interface supports localization"
At present, only English interactive interface is inconvenient to use. I hope to provide localized interface language

[2022-08-24 10:36] mircofranzago opened #561 "White borders in JavaFX polyline"
[code]

I don't know why opening the above fxml in Scene Builder, I see white borders on the down side and on the right side of the polyline. I am not sure it is a bug.

![image](https://user-images.githubusercontent.com/820293/186397504-f9062da2-2156-419b-8c59-d7ab08399f16.png)

Note: there are no css nor hard-coded dimensions associated with the above fxml. I open just the plain fxml as showed.

[2022-08-30 16:43] SkrrtNick commented on #558
This is happening for me as well - a solution found in other places is to downgrade scenebuilder to 16

[2022-09-15 12:47] ghazyami commented on #559
Scene Builder is now available on Flathub.
@batashi did the original work, I followed up afterwards.

If any of the `Scene Builder` maintainers would like to be part of maintains the flatpak, please reach out!

Flathub manifest: https://github.com/flathub/com.gluonhq.SceneBuilder
Flathub link: https://flathub.org/apps/details/com.gluonhq.SceneBuilder
Flathub badge: `<a href='https://flathub.org/ap

[2022-09-15 12:48] ghazyami commented on #557
Scene Builder is now available on Flathub.
@batashi did the original work, I followed up afterwards.

If any of the `Scene Builder` maintainers would like to be part of maintains the flatpak, please reach out!

Flathub manifest: https://github.com/flathub/com.gluonhq.SceneBuilder
Flathub link: https://flathub.org/apps/details/com.gluonhq.SceneBuilder
Flathub badge: `<a href='https://flathub.org/ap

[2022-09-15 12:48] ghazyami commented on #293
Scene Builder is now available on Flathub.
@batashi did the original work, I followed up afterwards.

If any of the `Scene Builder` maintainers would like to be part of maintains the flatpak, please reach out!

Flathub manifest: https://github.com/flathub/com.gluonhq.SceneBuilder
Flathub link: https://flathub.org/apps/details/com.gluonhq.SceneBuilder
Flathub badge: `<a href='https://flathub.org/ap

[2022-09-16 06:34] 974988176 commented on #554
It seems that the 18 version has this problem. The 8 version does not. I have 2 versions installed on my computer. The latest 18 version has this problem. It conflicts with the navigation bar shortcut key

[2022-09-23 10:15] abhinayagarwal opened #562 "Update base Java/FX to 19"
In order to prepare release of Scene Builder 19.0.0, the base JDK and JavaFX version needs to be updated to 19.

[2022-09-23 10:58] abhinayagarwal opened #564 "GA: Linux builds failing"
Linux workflows are failing because of TigerVNC

[2022-09-24 08:48] #564 closed

[2022-09-24 10:17] jperedadnr commented on #552
@erwin1 could we add the self hosted runner so we can also build for M1?

[2022-09-24 10:52] #562 closed

[2022-09-27 08:21] #552 closed

[2022-10-01 13:43] Oliver-Loeffler commented on #557
How did you solve the issue? Do you exclude the tests?

[2022-10-01 13:55] Oliver-Loeffler commented on #560
Hi @bambuo, most interface elements of Scene Builder support localization. All UI text elements are declared inside of I18N property files. This exists for `app` and `kit` modules.

App:
`/app/src/main/resources/com/oracle/javafx/scenebuilder/app/i18n`

Kit:
`/kit/src/main/resources/com/oracle/javafx/scenebuilder/kit/i18n`

There is always a default file (English) accompanied by locale specific fi

[2022-10-01 14:23] Oliver-Loeffler commented on #553
Hi @pnahay , I've tested it with current Scene Builder 19 Snapshot version on Win10 21H2 and also with the SB18 version as released before April. In both cases I was unfortunately not able to reproduce the isse.

Can you please share more details?
Did you install from MSI file, did you ran Scene Builder from project?

[2022-10-01 14:31] Oliver-Loeffler commented on #554
Hi @Alfred-Ashin,
I tried to reproduce the issue on Windows, there the search only works when focus is at the Library text field.
Also on macOS, same behavior. There I can only reproduce your problem, when I accidently press `ALT`, `SHIFT` or `CTRL`  or the mac specific modifier keys.

Can you please describe on which operating system this happened?

Thanks!

[2022-10-01 15:48] Oliver-Loeffler commented on #170
Hi @AlmasB, how about giving this issue a higher priority so that we probably can solve it with Scene Builder 20?
The CSS Analyzer is core functionality and this should work. I did not review yet how it works in detail but it is something I'll dive into.

[2022-10-01 16:14] pnahay commented on #553
I’ve discovered that the problem occurs on some files and not others.

I’m sorry, but I’m not at liberty to share the .fxml files with you that prove this.

So it appears to be a problem associated with something in the particular .fxml file loaded.

Hope that helps.

Paul

From: Oliver Löffler ***@***.***
Sent: Saturday, October 1, 2022 10:24 AM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subjec

[2022-10-01 17:19] AlmasB commented on #170
I've added this to 20, though we still seem to have trailing issues for 18 and 19 that need to be looked at.

[2022-10-01 19:48] Oliver-Loeffler commented on #553
Hi @pnahay,
this helps a little. Well, there is no need to share the original file. If you could create another FXML file with a structrue which also creates the behavior, that would help a lot.

If you are using some kind of dynamic elements or custom values or includes inside the FXML, try to replace them with artificial content not related to the issue. An example showing the behavior would be

[2022-10-01 20:00] Oliver-Loeffler commented on #170
Do we have kind of a roadmap which things to resolve first and which things later?

[2022-10-01 20:09] pnahay commented on #553
OK, I’ll see if I can remove the “private” stuff and leave 2 files that show the difference.

No, I’m not doing anything fancy with the fxml, just letting SB generate it, then reading it into my JavaFX program.

I’ll see what I can do, although my time is limited.

OK, I will try to get you something in the next day or so.

Paul

[2022-10-01 21:09] pnahay commented on #553
OK, here you go:

Product Version

JavaFX Scene Builder 18.0.0

Attached are two FXML files.

I can open File1.fxml in SB, and IMMEDIATELY press Ctrl+P to get the preview of the window.

But when I open File2.fxml in SB, I cannot access/use Ctrl+P at all, I have to open the SB “Preview” menu and invoke the command from there.

Hope you can figure out what the deal is.

Paul

P.S. A particularly ba

[2022-10-01 21:11] pnahay commented on #553
Sorry, goofed on one file, here’s File1 again, replaces previous one.

From: Paul Nahay ***@***.***
Sent: Saturday, October 1, 2022 5:09 PM
To: 'gluonhq/scenebuilder'; 'gluonhq/scenebuilder'
Cc: 'Mention'; ***@***.***
Subject: RE: [gluonhq/scenebuilder] Version 18.0.0 bug. (Issue #553)

OK, here you go:

Product Version

JavaFX Scene Builder 18.0.0

Attached are two FXML files.

I can open File1.f

[2022-10-01 21:11] Oliver-Loeffler commented on #553
Hi Paul, thanks!
Please add the file to the issue - seems that E-Mail attachments are not added to Github issues.

Thanks!
Oliver

[2022-10-01 21:12] Oliver-Loeffler commented on #553
You can paste the FXML contents into a codeblock such as this one:

[code]

Like that.

[2022-10-01 21:34] Oliver-Loeffler commented on #553
Thanks for your support @pnahay , but those files did not arrive. Please just share the FXML #2 code here as plain text. This will be sufficient! Great weekend!

[2022-10-02 02:17] 974988176 commented on #554
@Oliver-Loeffler
My operating system is windows, appear in this problem, first you press and raise the ALT key and the menu bar in the shortcuts, said you can again according to the first letters to activate the navigation bar, if at this time, again did not activate the menu bar or press the ALT key, which can lead to search in the components, the navigation error of activated. The problem is tha

[2022-10-02 04:40] bambuo commented on #560
Hi:
    Thank you very much for your reply.
    According to the content in the last email, I have found the location of the localization file directory, and also made a preliminary translation locally. Unfortunately, I do not know how to compile a dmg file locally. The error prompted is related to TOKEN, so I gave up the intention of compiling a file locally, but found that I could not submit my

[2022-10-02 08:23] Oliver-Loeffler commented on #560
Hi!,
well you can run Scene Builder locally to test if the translation works properly.
This can be achieved by executing the 2 commands from within the Scene Builder project directory:

[code]

If translation works fine, please create a pull request in Github so that the translation can be merged in main line.
Please refer to [CONTRIBUTING.md](https://github.com/gluonhq/scenebuilder/blob/master/CO

[2022-10-02 10:14] Oliver-Loeffler commented on #554
Mhh, this seems to be related to issue #250 .

[2022-10-02 11:50] Oliver-Loeffler commented on #512
Hi @AlmasB, could you please assign this one to me?

[2022-10-02 11:51] Oliver-Loeffler commented on #532
Hi @AlmasB, could you please assign this one also to me?

[2022-10-02 11:51] 974988176 commented on #554
@Oliver-Loeffler YES, these are the same issue

[2022-10-02 13:30] Oliver-Loeffler commented on #557
Hi @batashi
I was able to reproduce this on a fresh Fedore 36 VM.

The error seems to be related to the multi-project nature of Scene Builder and I was able to resolve it with running `mvn install`.
After that, the error disappeared.

This seems to be related to the multi-project nature of this build and I have to admit, that I need to dig deeper into Maven life cycle. Nevertheless, `mvn install`

[2022-10-02 14:24] Oliver-Loeffler commented on #353
Same like #170

[2022-10-02 14:26] Oliver-Loeffler commented on #426
See:
#353
#170

[2022-10-02 14:38] Oliver-Loeffler commented on #250
Well, Scene Builder here exactly behaves like other Windows applications (like Pint, Notepad, Word etc.).
1x pressing ALT makes the menubar keyboard navigatable. Of course, this collides with search for components. So this can be clumsy.

Following behavior could help.
1. focus at search text field - `ALT` is ignored
2. when pressing `ESC` or `TAB` focus is moved away from text field and ALT is co

[2022-10-02 14:38] Oliver-Loeffler commented on #554
Well, Scene Builder here exactly behaves like other Windows applications (like Pint, Notepad, Word etc.).
1x pressing ALT makes the menubar keyboard navigatable. Of course, this collides with search for components. So this can be clumsy.

Following behavior could help.
1. focus at search text field - `ALT` is ignored
2. when pressing `ESC` or `TAB` focus is moved away from text field and ALT is co

[2022-10-02 14:49] 974988176 commented on #554
@Oliver-Loeffler hello,hold Alt and F to take effect shortcut is hard do that? I think most people don't like the way this is a separate combination of shortcuts

[2022-10-02 15:09] Oliver-Loeffler opened #569 "Add link to JFX-Central in help menu"
As discussed in #484, it can be beneficial to have a link to https://www.jfx-central.com.

### Expected Behavior

The help menu already collects links to JavaFX related documentation.
Here seems to be a good place to also hava a reference to https://www.jfx-central.com.

### Current Behavior

There is no reference to https://www.jfx-central.com in Scene Builder.

### Context

Scene Builder is ofte

[2022-10-02 16:03] Oliver-Loeffler opened #572 "Filenames with numbers followed by underscores incorrectly shown on Welcome Page"
Scene Builder displays wrong filenames on Welcome Page when filename contains a number followed by an underscore, e.g. `1234_MainView.fxml`. In such case, the Welcome Page shows `1234_MainView.fxml`. Interestingly the error does not occurr when the filename contains no numbers such as `Main_View_Test.fxml`
But, Scene Builder opens the correct file when clicked.

### Expected Behavior
It is expecte

[2022-10-02 16:09] Oliver-Loeffler commented on #554
Good idea! But ALT+F collides with the file menu, ALT+F is pretty much standard on Windows for english language.
How about CTRL+F? CTRL+F would jump into the text field, block the ALT and one could search. ESC or TAB would exit the search.

[2022-10-02 16:10] Oliver-Loeffler commented on #554
CTRL is also used for other features such as preview window (CTRL+P) so it would kind of blend in.

[2022-10-02 16:18] 974988176 commented on #554
@Oliver-Loeffler How about removing navigation shortcuts？

[2022-10-02 16:28] Oliver-Loeffler commented on #572
Question to @abhinayagarwal and @AlmasB:
Do we want mnemonics parsing in for the recent documents buttons on the welcome screen?
If not, disabling mnemonics parsing would avoid this issue. Another (hack?) would be to replace single underscores with double underscores. Rendering would be correct in each case. What would you prefer?

[2022-10-02 17:22] Oliver-Loeffler commented on #554
I don't think, that this is a good idea. People are using those shortcuts and they are using the keyboard generally. Removing those would limit the accessibility of Scene Builder. This is something I would like to avoid in general.

@AlmasB what do you think? Any thoughts on this, ideas?

[2022-10-02 17:28] 974988176 commented on #554
@Oliver-Loeffler Can I set Alt to deactivate navigation when it is raised? Now, as long as you press Alt, it stays active

[2022-10-02 18:25] Oliver-Loeffler commented on #512
Hi @pythonSux ,

it seems there is a non-standard control included in the canvas fxml file. This control is imported via `<?import com.hhuebner.autogp.ui.widgets.InformationLabel?>` and used within the FXML element `<InformationLabel/>`.

By default, Scene Builder seems to crash as it cannot instantiate this custom element.
I cannot say how it should behave, this is something I have to figure out.

[2022-10-02 19:12] Oliver-Loeffler commented on #512
The problem is indeed the custom control inside the canvas file. You'd have to add this as custom control to Scene Builder using the `JAR/FXML Manager`. If the control has been added, the import is the problem. Scene Builder 18 shows a proper Exception dialog and the most important detail is shown at the end of the stack trace.

![Stacktrace](https://user-images.githubusercontent.com/22102800/1934

[2022-10-02 21:23] Oliver-Loeffler commented on #120
@abhinayagarwal @AlmasB
What do you think here? We also have many cases related to broken FXML reading/writing.
I've found a way to keep track about imports which cannot be resolved by Scene Builder. So basically this can be introduced as an isolated feature.

As this is a significant change to existing behavior, I'd propose following setup:

1. There will be a new boolean in Preferences `Unresolv

[2022-10-03 09:18] Oliver-Loeffler commented on #554
Not sure on that.

[2022-10-03 09:35] 974988176 commented on #554
@Oliver-Loeffler
I guess the navigation shortcut is written like this

[code]
However, this will cause the Alt key to be released and the F press alone will trigger again.
Here's my recommended way of writing that doesn't have this problem.
[code]

[2022-10-03 10:17] Oliver-Loeffler commented on #69
This was fixed with with PR #405.
@AlmasB Can you please close this one?

[2022-10-03 10:23] Oliver-Loeffler commented on #120
Preferences dialog is now working. There are no notifications yet. I'd prefer adding user notifications with separate PRs (if even wanted).

[2022-10-03 10:40] Oliver-Loeffler commented on #281
Hi @dubaut,

with which control did you try this, can you provide an example (FXML with custom control)?

Thanks!

[2022-10-03 11:24] #263 closed

[2022-10-03 11:24] #556 closed

[2022-10-03 11:37] #526 closed

[2022-10-03 13:19] Oliver-Loeffler commented on #394
Hi @AlmasB , would you also assign this one to me? Already worked on many of those and will see, to contribute something to SB20.

[2022-10-03 13:21] Oliver-Loeffler commented on #511
It is now possible to clear recent files via: file menu / open recent / clear menu command.

[2022-10-03 13:25] Oliver-Loeffler commented on #369
@AlmasB, as discussed, I've closed the PR #396 and will break it into smaller parts.

I'd like to fix this one first, means introducing a version specific preferences/library store.
The formerly discussed functonality of importing settings/libraries of previous versions will follow in a separate issue/PR.

Would you be so kind and assign this one to me? Thanks!

[2022-10-04 12:27] AlmasB commented on #293
This seems to be implemented as part of #559

[2022-10-04 12:27] #293 closed

[2022-10-04 17:17] Oliver-Loeffler commented on #559
@ghazyami What has to be done to publish Scene Builder to flatpak?
Is is something we possibly could add to the GitHub actions pipeline?

Hi @aalmiray, does JReleaser support flatpak?

[2022-10-04 17:48] ghazyami commented on #559
- `Flatpaks` are build from files called manifests that describe how the application will be built.
- `Flatpaks` published on `Flathub` are built and published by `Flathub`'s infrastructure.

As far as I know, there's no way to pre-build the flatpak and then publish it to `Flathub`

[2022-10-04 19:37] Oliver-Loeffler commented on #559
Would it be possible that we may publish the manifest with each new SB release?

[2022-10-05 09:01] ghazyami commented on #559
The manifest is available on [this repo](https://github.com/flathub/com.gluonhq.SceneBuilder)
Currently, one of `Flathub` maintainers and me are contributors on this repo.
There's a possibility to request access for `SceneBuilder` maintainers like yourself to the repo as well.

General idea how the flatpak is built,
1. The latest `SceneBuilder-XYZ.deb` is downloaded and
2. `schenebuilder-XYZ-all.j

[2022-10-08 10:32] Oliver-Loeffler opened #582 "Scene Builder closes after attempt to open a no longer existing file from welcome page recent projects"
### Expected Behavior
- Scene Builder starts and presents welcome page
- User selects a recent project / recent file
- Scene Builder detects that this file is missing
- Scene Builder asks user to keep the file in list or to remove the recent file from list
- Scene Builder returns to Welcome Page after user interaction

### Current Behavior
- Scene Builder starts and presents welcome page
- User se

[2022-10-08 20:30] Oliver-Loeffler opened #583 "Context menu items for text editing and copy&paste are not displayed in some text fields"
There are some text fields, where Scene Builder should display a context menu with copy/paste commands but those commands are not shown. Those context menus are displayed, but there is no visible or selectable text.

### Expected Behavior
- when clicked into any text field with secondary mouse key, a context menu with clearly distinguishable items occurs

### Current Behavior
- when clicked into _

[2022-10-08 21:02] Oliver-Loeffler opened #584 "Welcome Page should support loading FXMLs via drag&drop"
### Expected Behavior

The welcome page should support loading FXML files via drag and drop.
One should be able to drag a FXML file from anywhere and drop it anywhere on welcome page.
If dropped, Scene Builder should attempt to load the FXML.

### Current Behavior

The welcome page does not support drag&drop at all.
When dragging a file from desktop and dropping it on welcome page, nothing happens

[2022-10-09 19:09] Oliver-Loeffler commented on #553
Hi @pnahay
thanks for putting efforts into making this reproducible.
Can you please post the result of your investigations?
Would be great to have the FXML #2 for testing.
Otherwise, can you please describe what is different between the good and the failing FXML?

Thanks!

[2022-10-09 19:13] pnahay commented on #553
The failing one, when loaded in SB, causes SB to not respond to the CTRL+P accelerator.

From: Oliver Löffler ***@***.***
Sent: Sunday, October 9, 2022 3:10 PM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subject: Re: [gluonhq/scenebuilder] Version 18.0.0 bug. (Issue #553)

Hi @pnahay <https://github.com/pnahay>
thanks for putting efforts into making this reproducible.
Can you please post the resu

[2022-10-09 20:16] Oliver-Loeffler commented on #553
Sorry. Well, I was more thinking on what the difference is inside the FXML, so the FXML code difference.
The FXML examples you've prepared are not accessible here. Could you please attach those example files here? Either FXML code directly or via link to e.g. pastebin.

[2022-10-09 20:41] pnahay commented on #553
There’s no releationship between them. My point with the other one was just to tell you that CTRL+P DOES work for me with other files. So, you can compare my one I sent you that doesn’t work with any that YOU create that DO work.

The difference between a “file that works” and a “file that doesn’t work” is for the programmers who wrote SB to figure out, not me.

I don’t understand. You write:

1.

[2022-10-09 21:57] Oliver-Loeffler commented on #342
@AlmasB Hi Almas, please review this issue. I think we can close it as it was most likely been fixed with #358.

[2022-10-09 22:04] Oliver-Loeffler commented on #274
I cannot duplicate this using Scene Builder 19 on macOS 12.0.1.

[2022-10-09 22:13] Oliver-Loeffler commented on #553
It seems if you just reply vie e-mail, the files are not attached to the Github issue. If you visit the Github website, navigate to the issue, then you can attach these files. With 'here' I am referring the Github Issue website at https://github.com/gluonhq/scenebuilder/issues/553

[2022-10-09 22:42] pnahay commented on #553
I’m on the #553 GitHub page, but don’t see anything that lets me attach a file.

From: Oliver Löffler ***@***.***
Sent: Sunday, October 9, 2022 6:14 PM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subject: Re: [gluonhq/scenebuilder] Version 18.0.0 bug. (Issue #553)

It seems if you just reply vie e-mail, the files are not attached to the Github issue. If you visit the Github website, navigate to t

[2022-10-09 22:46] pnahay commented on #553
OK, I logged in and now see it.

But your silly system won’t let me attach an FXML file, the page source says:

We don’t support that file type.

<span class="drag-and-drop-error-info">

<span class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV, MP4, PNG, SVG, WEBM, CSV, DOCX, FODG, FODP, FODS, FODT, GZ, LOG, MD, ODF, ODG, ODP, ODS, ODT, PDF, PPTX, TGZ, TXT, XLS, XLSX or ZIP.

</span>

Fr

[2022-10-09 22:47] pnahay commented on #553
Your ridiculous system won't allow me to attach an fxml file, so here's the content of the file that, when opened in SceneBuilder, won't allow the CTRL+P accelerator key combination to preview the file:

<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.geometry.Insets?>
<?import javafx.scene.canvas.Canvas?>
<?import javafx.scene.control.Label?>
<?import javafx.scene.control.Menu?>
<?import

[2022-10-09 22:49] pnahay commented on #553
I tried copying and pasting the contents of the file into the message edit view, but it seems like it chopped off the code.

Anyway, I’m tired of this. You’ve got a bug in SB where in some situation CTRL+P won’t work. Forward this info to whomever coded the accelerators in SB.

Paul

P.S. Here’s the fxml code:

<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.geometry.Insets?>

<?import jav

[2022-10-10 05:47] Oliver-Loeffler commented on #553
[Examples.zip](https://github.com/gluonhq/scenebuilder/files/9743565/Examples.zip)

[2022-10-10 05:48] Oliver-Loeffler commented on #553
Alternatively:

[code]

[2022-10-10 05:59] Oliver-Loeffler commented on #553
Thanks for your efforts. Well, did not know that there is a file type limitation on Github.
Renaming files from FXML to TXT would have helped, also adding both files to a ZIP and attaching the ZIP would have worked.

Here is an example how I'd do that - its a video.
Adding a ZIP file:
https://user-images.githubusercontent.com/22102800/194805876-9eda7015-cd9a-44ff-ab84-50a4a735af0e.mov

I'll try wi

[2022-10-11 09:19] pnahay commented on #553
Github won’t let me in. Here’s the code of File2, for which Ctrl+P doesn’t work in SB:

<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.geometry.Insets?>

<?import javafx.scene.canvas.Canvas?>

<?import javafx.scene.control.Label?>

<?import javafx.scene.control.Menu?>

<?import javafx.scene.control.MenuBar?>

<?import javafx.scene.control.MenuItem?>

<?import javafx.scene.control.Separato

[2022-10-11 12:17] AlmasB commented on #342
Thanks, can always reopen if needed

[2022-10-11 12:17] #342 closed

[2022-10-15 14:41] satsen opened #586 "Remove FX8 qualifier"
It is not necessary that nodes show (FX8) anymore. We're at JavaFX 19 now and I doubt anybody is using anything older than 8 so it is irrelevant.

<sub>*I would make a PR myself but there's no way I'm going to give all that personal information just to change this.*</sub>

[2022-10-16 09:43] Oliver-Loeffler opened #587 "Question: make use of Maven Wrapper?"
To contribute to Scene Builder, one requires an installed JDK and Maven.

### Expected Behavior
Ideally Scene Builder brings Maven with it, so the JDK setup is sufficient.
With having JDK installed, one can directly start to run/test Scene Builder from command line using `mvnw`.

### Current Behavior
To work with Scene Builder, one has to install Maven upfront.
Without Maven installed, building, t

[2022-10-16 16:40] batashi commented on #293
Thanks @ghazyami  For your efforts.

@AlmasB  it's better to be part of this project and maintain under the upstream project.

[2022-10-19 18:41] Oliver-Loeffler commented on #385
Well, now as I understood how the zoom works, I played around with various settings. Zoom in the range from 5% up to 900% works fine. Technically a zoom up to 1500% works, with 1600% JavaFX fails to render on Windows.
For Zooms in range > 900% < 1500% the rendering performance is abysmal.

Hence, I need to dig into JavaFX rendering to figure this out. Until then, I'll try to implement the variable

[2022-10-19 21:48] Oliver-Loeffler commented on #385
Scaling is applied actually in 3 dimensions. With disabling scaling for Z-axis, Scene Builder stays responsive and scaling works relatively well up to 1000...1200%. This then strongly depends on the size and complexity of the FXML file. Up to now I have not found a good way to predict or detect the max zoom level for a given scene. This will require some work at OpenJFX code I am not yet familar w

[2022-10-19 21:51] Oliver-Loeffler commented on #51
This seems to be no issue anymore. The problem occurs at zooms way beyond 1000%.
I've tested this with SB19 on WIn10, macOS 12.0.1 and Fedora 36.

@AlmasB This one can be closed possibly - does not seem to be an issue anymore.

[2022-10-19 22:19] Oliver-Loeffler commented on #46
Hi @AlmasB, hi @luca-domenichini,

I have tested the provided case with following 2 custom components and think that this issue has already been fixed.
At least its working with Scene Builder 19.

One extending the ImageView:

[code]

Another one holding an image view with properties exposed:

[code]

For both components the available properties, especially the image property, are correctly shown

[2022-10-20 19:17] Oliver-Loeffler commented on #553
Very cool - I am able to reproduce the error. No clue why this happens yet but I'll figure out, Here is the FXML:

[code]

[2022-10-20 19:19] pnahay commented on #553
GREAT, all the hassle conveying this to y’all was then worth it.

Hope you can fix it.

BTW, it’s a very confusing program to use (SceneBuilder).

Paul

From: Oliver Löffler ***@***.***
Sent: Thursday, October 20, 2022 3:18 PM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subject: Re: [gluonhq/scenebuilder] Version 18.0.0 bug. (Issue #553)

Very cool - I am able to reproduce the error. No clue why

[2022-10-20 19:31] Oliver-Loeffler commented on #553
The cause of the failing preview is, that Scene Builders preview accelerator `CTRL`+`P` is kind of shadowed by another accelerator definition inside the FXML. All accelerators inside the FXML are basically working. Not sure how to handle this.

Following FXML code makes the preview accelerator fail:

[code]

The following setup will work fine:

[code]

Its as simple as either removing the accelera

[2022-10-20 19:51] pnahay commented on #553
Yes, clearly shouldn’t work this way. Using CTRL+P to open the preview window shouldn’t, logically, have anything to do with (or any conflict with) the user’s FXML that defines using CTRL+P in the user’s JavaFX application.

Paul

From: Oliver Löffler ***@***.***
Sent: Thursday, October 20, 2022 3:32 PM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subject: Re: [gluonhq/scenebuilder] Version 18.0.0

[2022-10-20 20:41] Oliver-Loeffler commented on #553
Please test PR #593 if this would work for you. As of now I definitely read more into the Scene Builder and JavaFX code to find a better solution for this issue.

[2022-10-20 20:47] Oliver-Loeffler commented on #553
@pnahay Which points are confusing? Thats something which potentially could be improved.

[2022-10-20 20:50] Oliver-Loeffler commented on #73
@sialcasa This will eventually be solved. The way how KeyCodes are read and events are collected seems kind of tricky.

[2022-10-20 20:56] pnahay commented on #553
Yay, the system works!

From: Oliver Löffler ***@***.***
Sent: Thursday, October 20, 2022 4:42 PM
To: gluonhq/scenebuilder
Cc: pnahay; Mention
Subject: Re: [gluonhq/scenebuilder] Version 18.0.0 bug. (Issue #553)

Please test PR #593 <https://github.com/gluonhq/scenebuilder/pull/593>  if this would work for you. As of now I definitely read more into the Scene Builder and JavaFX code to find a bette

[2022-10-21 08:21] AlmasB commented on #46
Based on the above screenshot, this appears to be working. Thanks.

[2022-10-21 08:21] #46 closed

[2022-10-21 08:21] #51 closed, assigned to nobody

[2022-10-21 22:11] Oliver-Loeffler commented on #532
Hi @HiouaniHalim , I found a solution for this. There will be a PR soon which will enable use of the already available Insets editor with custom defined insets. It took me a while to figure out how this works. It is now about writing a test case and preparing the PR. `My Insets` and `My Paint` are properties of a custom control.

<img width="658" alt="SceneBuilder_CustomControl_InsetsProperty" src

[2022-10-22 13:44] Oliver-Loeffler commented on #532
Hi @HiouaniHalim,
please try out the leading-edge branch of Scene Builder at https://github.com/Oliver-Loeffler/scenebuilder.git.
This one already allows editing of Insets - beware, its not the official one yet - but good for testing.

[2022-10-25 12:43] pitzzahh commented on #554
I think I have the same problem, when trying to search for library,  setting properties such as a style class or code event names, it triggers the menu at the top of the scene builder. So I decided to use the Scene builder directly from IntelliJ which is also great but I prefer the desktop scene builder.

[2022-10-26 05:59] Oliver-Loeffler commented on #560
Hi @bambuo,

you can use the following script, to create a `SceneBuilder Snapshot` application package on macOS for testing.
Its a plain application image, not a `pkg` or `dmg`. I'll add Windows and Linux versions later.

Place the file `macpac.sh` into your SceneBuilder project directory. Run it from command line.
When the process finishes, you will find the snapshot application image in: `app/ta

[2022-10-27 11:13] HiouaniHalim commented on #532
not work see that:

[2022-10-27 11:15] HiouaniHalim commented on #532
@Oliver-Loeffler the example not work see that :
![error](https://user-images.githubusercontent.com/37694759/198269996-6e661845-44a0-4eb4-b7ee-649a5105f729.PNG)

[2022-10-27 14:38] Oliver-Loeffler commented on #532
H @HiouaniHalim,

please re-open the issue, I will continue working on that.
Thanks!

[2022-10-27 14:55] Oliver-Loeffler commented on #532
On Windows, the following steps are needed to get it working (having Java and Maven installed):
The important thing is to clone the "leading-edge" branch and to run "mvn install" with it.

[code]

Go SceneBuilder library manager and add `app\target\classes` location as root folder with class files.
There should be a class file `custom.CustomNodeWithInsets.class`.

If this fails again, I'll publish

[2022-10-27 14:57] Oliver-Loeffler opened #597 "Scene Builder version is still at 19.0.0-SNAPSHOT"
### Expected Behavior

Scene Builder 19 has already ben released, so one would expect the version to be 20.0.0-SNAPSHOT.

### Current Behavior
Current version in POM is 19.0.0-SNAPSHOT.

[2022-10-29 18:16] HiouaniHalim commented on #532
@Oliver-Loeffler am using scene builder.msi version 19.0.0

[2022-10-31 10:38] #597 closed

[2022-11-02 10:52] #587 closed

[2022-11-02 12:06] #586 closed

[2022-11-02 12:14] NiklasVoigt opened #599 "Virus in version 18.0.0"
I want to update the chocolatey package from 17.0.0 to 18.0.0 and then to 19.0.0.
The automatic checker runs a viruscheck and detected in 18.0.0.msi a virus.

Choco package:
https://github.com/pafei/chocolatey-scenebuilder
https://community.chocolatey.org/packages/scenebuilder/18.0.0#virus

Virustotal vheck:
https://www.virustotal.com/gui/file/7330cb29e09f0194722d782dd39d860499a7add90f67fe83cbd188

[2022-11-02 12:50] #572 closed

[2022-11-02 16:22] Oliver-Loeffler commented on #599
Not sure yet if this comes from the bundled JRE or from JavaFX runtime componente. Did you encounter the same issue with version 19 or even early access 20?

[2022-11-02 17:04] Oliver-Loeffler commented on #599
Well, I was playing round with JDK18 and JavaFX 18. For build, the Oracle JDK builds are used which are distributed at https://jdk.java.net/18/. The JDK-18 build is clean and virius free according to VirusTotal.com.

However, the OpenJFX 18 binaries (`openjfx-18_windows-x64_bin-jmods.zip` and `openjfx-18_windows-x64_bin-sdk.zip`) are flagged.

Source of OpenJFX 18:
https://download2.gluonhq.com/op

[2022-11-02 18:12] Oliver-Loeffler commented on #599
There is now a new build of SceneBuilder 18 for Windows x64 based on commit 4581c44949729bf18407423d581abc0f61242e1f (tag: 18.0.0).

This installer package is 'clean' according to VirusTotal.
https://www.virustotal.com/gui/file-analysis/ZGM0OWJhYzRmNjFiNTBkMGQ3Y2QwMWYxNmZiZmEzMGY6MTY2NzQxMjY4MA==

The new binary is located at:
http://raumzeitfalle.de/other/SceneBuilder-18.0.0.msi

With checksums a

[2022-11-02 18:20] Oliver-Loeffler commented on #599
@abhinayagarwal
My recommendation here is a rebuild of the MSI file. This feels odd and should not be the case.

[2022-11-02 19:02] Oliver-Loeffler commented on #599
@NiklasVoigt Can you please use the inofficial MSI file to build the choco package? This should work.

[2022-11-03 09:25] abhinayagarwal commented on #599
@Oliver-Loeffler Are you suggesting that a re-run of the release process should be enough without making any change to the build or release process?

[2022-11-03 10:35] Oliver-Loeffler commented on #599
As far as I understand the build process, all components such as JDK,
OpenJFX etc. are installed in the build environment on demand, it could
help.
I ran this yesterday at my local machine and produced an MSI which is
not suspicious. See the description.

[2022-11-03 13:30] abhinayagarwal commented on #599
All our builds are created via Github Actions and we use OpenJDK/JFX builds to create the installer. Not sure what can we do differently :)

[2022-11-03 16:44] Oliver-Loeffler commented on #599
Never tried to re-run a past item. But technically it should work, shouldnt it?

[2022-11-03 17:59] abhinayagarwal commented on #599
I am still trying to understand why the earlier build flagged as a virus.

[2022-11-03 19:31] Oliver-Loeffler commented on #599
Interestingly the downloaded OpenJFX zip files, both the SDK and jmods, were flagged. But, the included files, the payload was clean. Either the zip file was dirty or this false positive by Virus Total. If exact the same zip files have been used for original build, then the last variable item is the JDK used. Nut sure which JDK was used at SB18 build time. I've used jdk18.0.2.1 for testing. If at

[2022-11-03 19:46] Oliver-Loeffler commented on #599
Interestingly my new MSI file runs in a timeout for McAffee and  McAfee-GW-Edition, both scanner raised an alarm.
One thing aside, not sure why this is the case, my MSI files are approx. 8 MiB smaller than the distributed one (70 MiB vs 78 Mib).

I still think, that a rebuild with GH actions will solve the problem, as long as GH pulls all dependencies new (e.g. Java 18 with the state from August,

[2022-11-03 20:07] Oliver-Loeffler commented on #599
So, just ran some tests. Well, it turns out that `SceneBuilder.exe` will always trigger some detections when built with the forementioned JDK18 versions. Building SceneBuilder18 with Java19, no detections at all.

For the passing SB18 build, there were actually timeouts for some virus scanners.

Results for `SceneBuilder.exe` compiled with different versions of JDK.

| JDK | Detection(s) | Link |

[2022-11-03 20:26] Oliver-Loeffler commented on #599
@NiklasVoigt
Hi, I just learned about this 'relations' function to see if there are any flagged files.
Hence I've attempted a new build and up to now no files are flagged at all.

Here is the link:
https://www.virustotal.com/gui/file/7b78262a419831eb2a17fe2ef052139456d4253f79063e15c76a0964513c0c74/details

I have seen, that the SB18 package is in moderation - you might try using the updated MSI.
h

[2022-11-07 11:49] abhinayagarwal commented on #599
Good find. Although, I am not sure if really want to rebuild SB 18.0.0 with JDK 19.

[2022-11-08 16:32] Oliver-Loeffler opened #600 "SceneBuilder closes unexpectedly when an error occurs during FXML file loading"
SceneBuilder by default starts into the welcome page.
If one attempts to load either an existing project or a recent project, SceneBuilder will close in case of an error during file loading.
This is the case by:
* no longer existing recent projects
* attempting to load any unsupported files
* attempt to load a corrupted FXML file
* attempt to load a incompatible FXML file

### Expected Behavior
Sc

[2022-11-08 17:35] Oliver-Loeffler opened #601 "CheckUpdate functionality runs in wrong thread at the first call after app starts"
When SceneBuilder is started first time and the the function `Menu -> Help\Check for update,,,` is called, there will be no dialog to indicate any action. Instead a stack trace like the following is produced.

The issue does not occur for repeated calls to `SceneBuilderApp.checkUpdates()` method.

[code]

### Expected Behavior
* With a click on `Help\Check for update,,,`, SceneBuilder is expected

[2022-11-09 09:51] jperedadnr opened #603 "Add support for clipping"
FXML files can use the `clip` tag, to add node clipping like:

[code]

While this file can be opened with Scene Builder, it doesn't apply the clip:

<img width="419" alt="image" src="https://user-images.githubusercontent.com/2043230/200796275-f789a0c0-82fc-4fc9-9502-413897995a06.png">

There is also no indication in the Inspector for this.

And, if any change is done, saving the file will complete

[2022-11-09 17:53] Oliver-Loeffler commented on #603
Interesting issue. I've tested the given FXML with 20.0.0-SNAPSHOT and Scene Builder leaves the `<clip>` tag unchanged. It does not render but it does not touch the  `<clip>` tag definition (at least not for Windows). Will look into this.

[2022-11-13 21:58] #599 closed

[2022-11-15 10:37] Oliver-Loeffler opened #605 "SceneBuilder to generate summary of available CSS style classes"
In Scene Builder one can assign one or more CSS style classes to individual nodes.
WIth complex FXML files one has to either click through the nodes or read the classes from the FXML itself using a text viewer.

### Expected Behavior
As SceneBuilder already can create a sample controller skeleton, it would be nice if one can generate a list of CSS style classes.
Additionally a structured view on t

[2022-11-15 10:46] Oliver-Loeffler opened #606 "SceneBuilder to provide scene graph statistics during editing"
For small FXML files one can count manually the nodes added. However some nodes are composite nodes and consist of multiple nodes. There is no summary yet on how many nodes have been added by the user or how many nodes are effectively on the scene graph.

### Expected Behavior
SceneBuilder could display the total number of nodes on the graph for a given FXML (e.g. as a summary tab on the inspector

[2022-11-21 11:33] QazCetelic commented on #290
Were you able to reproduce the issue?

[2022-11-21 11:44] Oliver-Loeffler commented on #290
Thanks for pinging me. Well, as of now I was not able to reproduce this. Have you tried newer versions of SceneBuilder? It's possible that versions 18 and 19 no longer suffer this issue.

[2022-11-24 06:20] QazCetelic commented on #290
I'm unable to replicate the issue with the Flatpak of version 19 on Fedora 37

[2022-11-24 06:20] #290 closed

[2022-11-26 10:43] pedrombmachado opened #607 "[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.10.1:compile (default-compile) on project kit: Fatal error compiling: error: release version 17 not supported -> [Help 1] Arm64v8"
Fails to compile maven-compile-plugin because of the version of the compiler (i.e. 17).

### Expected Behavior
Compilation finishes without error.
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.10.1:compile (default-compile) on project kit: Fatal error compiling: error: release version 17 not supported -> [Help 1]

### Current Behavior
Compilation breaks with the m

[2022-11-26 10:56] Oliver-Loeffler commented on #607
Hi, is there no Java-17 for the target platform? When switching to Java-17 the build will work.

[2022-11-26 10:58] Oliver-Loeffler commented on #607
I see that our readme is wrong, as it still states Java 11 where it should be Java 17 instead.

[2022-11-26 20:05] pedrombmachado commented on #607
Thank you @Oliver-Loeffler solved the problem by installing the correct version of maven using the SDKMan

[2022-11-26 20:05] #607 closed

[2022-11-27 02:39] IAXRetailer commented on #242
Thanks,it works normally now,love from css